{% extends 'layouts/form.html' %}
{% load static %}

{% block form %}
  <!-- Campo para el Nombre de la Lista -->
  <div class="mb-3">
    <label class="form-label required">{{ form.name.label }}</label>
    <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" placeholder="Nombre de la Lista" value="{{ form.name.value }}" required>
    {% if form.name.errors %}
      <span class="text-danger d-block mb-3">{{ form.name.errors }}</span>
    {% endif %}
  </div>

  <!-- Campo para la Descripción -->
  <div class="mb-3">
    <label class="form-label">{{ form.description.label }}</label>
    <textarea class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.name }}" placeholder="Descripción (opcional)" rows="3">{{ form.description.value }}</textarea>
    {% if form.description.errors %}
      <span class="text-danger d-block mb-3">{{ form.description.errors }}</span>
    {% endif %}
  </div>

  <!-- Sección para Destinatarios -->
  <fieldset>
    <legend>Destinatarios</legend>
    {{ formset.management_form }}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Correo Electrónico</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody id="recipient-table-body">
        {% for form in formset %}
        <tr>
          <td>
            <input type="email" class="form-control" name="recipients-{{ forloop.counter0 }}-email" value="{{ form.email.value|default:'' }}" placeholder="Correo Electrónico">
            {% if form.email.errors %}
              <span class="text-danger d-block mb-3">{{ form.email.errors }}</span>
            {% endif %}
          </td>
          <td>
            <input type="hidden" name="recipients-{{ forloop.counter0 }}-id" value="{{ form.instance.pk }}">
            <input type="checkbox" name="recipients-{{ forloop.counter0 }}-DELETE" style="display:none;">
            <button type="button" class="btn btn-pill btn-outline-danger btn-sm delete-recipient">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-trash">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="button" id="add-recipient" class="btn btn-pill btn-outline-success btn-sm">Añadir Destinatario</button>
  </fieldset>
  

{% endblock form %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#add-recipient').click(function () {
      const formsetTableBody = $('#recipient-table-body');
      const totalFormsInput = $('#id_recipients-TOTAL_FORMS');
  
      const formIndex = parseInt(totalFormsInput.val());
  
      const newRow = `
      <tr>
        <td>
          <input type="email" class="form-control" name="recipients-${formIndex}-email" value="" placeholder="Correo Electrónico">
        </td>
        <td>
          <input type="hidden" name="recipients-${formIndex}-id" value="">
          <input type="checkbox" name="recipients-${formIndex}-DELETE" style="display:none;">
          <button type="button" class="btn btn-pill btn-outline-danger btn-sm delete-recipient">
            <svg xmlns="http://www.w3.org/2000/svg" ...></svg>
          </button>
        </td>
      </tr>
      `;
  
      formsetTableBody.append(newRow);
      totalFormsInput.val(formIndex + 1);
    });
  
    $('table').on('click', '.delete-recipient', function () {
      const row = $(this).closest('tr');
      row.find('input[type="checkbox"][name$="-DELETE"]').prop('checked', true);
      row.hide();
    });
  });
  
</script>
{% endblock extrajs %}
