{% extends 'layouts/dashboard.html' %}
{% load static %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-9">
      <div class="empty">
        <img src="{% static 'dist/img/webp/boy-girl.webp' %}" class="img-fluid w-50" alt="boy-girl">
        <h3>Esta acción no tiene vuelta atrás</h3>
        <div class="text-secondary">
          ¿Estás seguro de que deseas eliminar la lista de correos <strong>{{ object.name }}</strong>?
        </div>
        <div class="text-warning mt-3">
          Al eliminar esta lista, también se eliminarán todos los destinatarios asociados. Esta acción no se puede deshacer.
        </div>
      </div>
      <form method="post" class="text-center">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mr-2">Aceptar</button>
        <a href="{{ url_list }}" class="btn btn-secondary ml-2">Cancelar</a>
      </form>
    </div>
  </div>
{% endblock %}
