{% extends 'layouts/home.html' %}
{% load static %}
{% load my_filters %}
{% block content %}
  <div class="col-md">
    <div class="row row-cards">
      <div class="space-y">
        {% if weather_tomorrow %}
          {% if weather_tomorrow.file %}
            {% url 'home:weather_report_pdf' weather_tomorrow.uuid as report_pdf_url %}
            {% include 'includes/home/document_card.html' with title='Pronóstico del Tiempo para Mañana' summary=weather_tomorrow.summary publisher=weather_tomorrow.user.get_full_name publisher_avatar=weather_tomorrow.user.profile.get_avatar date=weather_tomorrow.date|date:'d/m/Y h:i A' pdf_url=report_pdf_url|add:'?inline=1' pdf_title='Pronóstico del Tiempo para Mañana' %}
          {% endif %}
          {% include 'includes/home/document_pdf_modal.html' %}
        {% else %}
          <div class="row row-cards">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="text-center py-5">
                    <img src="{% static 'dist/img/webp/boy-refresh.webp' %}"
                         class="img-fluid w-25"
                         alt="No hay pronósticos" />
                    <p class="empty-title mt-4">Nada que mostrar...</p>
                    <p class="empty-subtitle text-secondary">No se han encontrado pronosticos para mañana disponibles en este momento.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block extrajs %}
  <script src="{% static 'dist/js/document-modal.js' %}"></script>
{% endblock %}
