{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load my_filters %}
{% block page_header %}
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-auto">
        <span class="avatar avatar-lg rounded-circle"
              style="background-image: url({{ request.user.profile.get_avatar }})"></span>
      </div>
      <div class="col d-none d-md-block">
        <h1 class="fw-bold">{{ request.user.get_full_name }}</h1>
        <!-- <div class="my-2">Unemployed. Building a $1M solo business while traveling the world. Currently at $400k/yr.</div> -->
        <div class="list-inline list-inline-dots text-secondary">
          <div class="list-inline-item">
            <i class="icon icon-inline ti ti-user"></i>
            {{ request.user.username }}
          </div>
          <div class="list-inline-item">
            <i class="icon icon-inline ti ti-mail"></i>
            <a href="#" class="text-reset">{{ request.user.email }}</a>
          </div>
          <div class="list-inline-item">
            <i class="icon icon-inline ti ti-calendar-check"></i>
            {{ request.user.date_joined }}
          </div>
        </div>
      </div>
      <div class="col-auto ms-auto">
        <div class="btn-list">
          <a href="{% url 'user_auth:profile_update' %}" class="btn btn-primary">
            <i class="icon ti ti-pencil"></i>
            {{ btn }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="row g-3">
    <div class="col">
      <ul class="timeline">
        {% for entry in log_entries_page %}
          <li class="timeline-event">
            <!-- Contenedor del icono con el estilo existente -->
            <div class="timeline-event-icon bg-primary-lt">{{ entry.action_flag|get_icon_for_action }}</div>
            <!-- Tarjeta del evento -->
            <div class="card timeline-event-card">
              <div class="card-body">
                <!-- Nueva línea para mostrar el tiempo de manera destacada -->
                <div class="text-muted float-end">{{ entry.action_time|time_since }}</div>
                <!-- Nueva estructura para mostrar descripción de la acción -->
                <h4>{{ entry.action_flag|action_description }}</h4>
                <p class="text-muted">
                  {{ entry.object_repr }} <!-- Nombre del objeto afectado -->
                </p>
                <!-- Mensaje de cambio (opcional) -->
                {% if entry.change_message %}
                  <p>{{ entry.change_message }}</p>
                {% endif %}
              </div>
            </div>
          </li>
        {% empty %}
          <li class="text-center text-muted py-3">No hay registros recientes.</li>
        {% endfor %}
      </ul>
      <!-- Controles de paginación -->
      <div class="pagination">
        <ul class="pagination justify-content-center">
          {% if log_entries_page.has_previous %}
            <li class="page-item">
              <a href="?page=1" class="page-link" aria-label="Primera">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Primera</span>
              </a>
            </li>
            <li class="page-item">
              <a href="?page={{ log_entries_page.previous_page_number }}"
                 class="page-link">Anterior</a>
            </li>
          {% endif %}
          <li class="page-item disabled">
            <span class="page-link">Página {{ log_entries_page.number }} de {{ log_entries_page.paginator.num_pages }}</span>
          </li>
          {% if log_entries_page.has_next %}
            <li class="page-item">
              <a href="?page={{ log_entries_page.next_page_number }}"
                 class="page-link">Siguiente</a>
            </li>
            <li class="page-item">
              <a href="?page={{ log_entries_page.paginator.num_pages }}"
                 class="page-link"
                 aria-label="Última">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Última</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row row-cards">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">Información Básica</div>
              <div class="mb-2">
                <i class="icon icon-inline ti ti-user"></i>
                Usuario: <strong>{{ request.user.username }}</strong>
              </div>
              <div class="mb-2">
                <i class="icon icon-inline ti ti-user-shield"></i>
                Superusuario: <strong>
                {% if request.user.is_superuser %}
                  Sí
                {% else %}
                  No
                {% endif %}
                </strong>
              </div>
              <div class="mb-2">
                <i class="icon icon-inline ti ti-user-check"></i>
                Staff: <strong>
                {% if request.user.is_staff %}
                  Sí
                {% else %}
                  No
                {% endif %}
                </strong>
              </div>
              <div class="mb-2">
                <i class="icon icon-inline ti ti-mail"></i>
                Correo: <strong>{{ request.user.email }}</strong>
              </div>
              <div class="mb-2">
                <i class="icon icon-inline ti ti-calendar-check"></i>
                Ingreso: <strong>{{ request.user.date_joined }}</strong>
              </div>
              <div class="mb-2">
                <i class="icon icon-inline ti ti-users"></i>
                Grupos:
                <strong>
                  {% if request.user.groups.exists %}
                    {% for group in request.user.groups.all %}
                      {{ group.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  {% else %}
                    No pertenece a ningún grupo
                  {% endif %}
                </strong>
              </div>
              <div class="mb-2">
                <i class="icon icon-inline ti ti-clock"></i>
                Autenticación LDAP:
                <strong>
                  {% if request.user.profile.is_ldap %}
                    Sí
                  {% else %}
                    No
                  {% endif %}
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">About Me</h2>
                  <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid beatae eaque eius
                      esse fugit, hic id illo itaque modi molestias nemo perferendis quae rerum soluta. Blanditiis
                      laborum minima molestiae molestias nemo nesciunt nisi pariatur quae sapiente ut. Aut consectetur
                      doloremque, error impedit, ipsum labore laboriosam minima non omnis perspiciatis possimus
                      praesentium provident quo recusandae suscipit tempore totam.
                    </p>
                  </div>
                </div>
              </div>
            </div>  -->
    </div>
  </div>
{% endblock %}
