# True for development, False for production
DEBUG=True

# Secret key for Django
SECRET_KEY=<STRONG_KEY_HERE>

# Database configuration for MySQL
# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=db
# DB_USERNAME=db_usr
# DB_PASS=pass
# DB_PORT=3306

# Database configuration for PostgreSQL
# DB_ENGINE=postgresql
# DB_HOST=localhost
# DB_NAME=db
# DB_USERNAME=db_usr
# DB_PASS=pass
# DB_PORT=5432

# Allowed hosts for Django
ALLOWED_HOSTS=localhost,127.0.0.1

# CSRF trusted origins for Django
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# External hostname for INSMET
EXTERNAL_HOSTNAME=web.cmw.insmet.cu

# Email Configuration
EMAIL_USE_TLS=True
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=my_email_user@example.com
EMAIL_HOST_PASSWORD=my_secure_password
DEFAULT_FROM_EMAIL=my_app@example.com
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
