arabic-reshaper
asgiref
asn1crypto
attrs
certifi
cffi
charset-normalizer
contourpy
cryptography
cssselect2
cycler
Django==5.2.16
djangorestframework
dotenv
drf-redesign
drf-spectacular
drf-spectacular-sidecar
flexcache
flexparser
fonttools
freetype-py
gunicorn==26.1.0
html5lib
idna
inflection
jsonschema
jsonschema-specifications
kiwisolver
lxml
matplotlib
MetPy
numpy
oscrypto
packaging
pandas
pillow
Pint
platformdirs
pooch
pycairo
pycparser
pyHanko
pyhanko-certvalidator
pyparsing
pypdf
pyproj
python-bidi
python-dateutil
python-dotenv
pytz
PyYAML
referencing
reportlab
requests
rlPyCairo
rpds-py
scipy
six
sqlparse
str2bool
svglib
tinycss2
traitlets
typing_extensions
tzdata
tzlocal
uritemplate
uritools
urllib3
webencodings
whitenoise==6.12.0
xarray
xhtml2pdf
openpyxl
xlrd
ldap3
pdfkit
huey
django-cors-headers
