{% extends 'layouts/form.html' %}
{% load static %}
{% block form %}
    <!-- Campo para el Título -->
    <div class="mb-3">
        <label class="form-label required">{{ form.title.label }}</label>
        <input type="text" class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.name }}"
               placeholder="Título de la publicación científica" required>
        {% if form.title.errors %}
            <span class="text-danger d-block mb-3">{{ form.title.errors }}</span>
        {% endif %}
    </div>

    <!-- Campo para la Fecha de Publicación -->
    <div class="mb-3">
        <label class="form-label required">{{ form.publication_date.label }}</label>
        <input type="date" class="form-control" id="{{ form.publication_date.id_for_label }}"
               name="{{ form.publication_date.name }}" required>
        {% if form.publication_date.errors %}
            <span class="text-danger d-block mb-3">{{ form.publication_date.errors }}</span>
        {% endif %}
    </div>

    <!-- Búsqueda de Autor -->
    <div class="mb-3">
        <label class="form-label">{{ form.author_search.label }}</label>
        <input type="text" class="form-control" id="{{ form.author_search.id_for_label }}"
               name="{{ form.author_search.name }}" placeholder="Buscar autor por nombre, apellido o email">
        <small class="form-text text-muted">Busca un autor existente o selecciona uno de la lista</small>
        {% if form.author_search.errors %}
            <span class="text-danger d-block mb-3">{{ form.author_search.errors }}</span>
        {% endif %}
    </div>

    <!-- Selección de Autor -->
    <div class="mb-3">
        <label class="form-label required">{{ form.author.label }}</label>
        <select class="form-control" id="{{ form.author.id_for_label }}" name="{{ form.author.name }}" required>
            <option value="">Seleccione un autor</option>
            {% for author in form.author.field.queryset %}
                <option value="{{ author.id }}" {% if author.id == form.author.value %}selected{% endif %}>
                    {{ author.first_name }} {{ author.last_name }} {% if author.email %}({{ author.email }}){% endif %}
                </option>
            {% endfor %}
        </select>
        {% if form.author.errors %}
            <span class="text-danger d-block mb-3">{{ form.author.errors }}</span>
        {% endif %}
    </div>

    <!-- Campo para el Resumen -->
    <div class="mb-3">
        <label class="form-label required">{{ form.summary.label }}</label>
        <textarea class="form-control" id="{{ form.summary.id_for_label }}" name="{{ form.summary.name }}"
                  placeholder="Resumen de la publicación" rows="4" required></textarea>
        {% if form.summary.errors %}
            <span class="text-danger d-block mb-3">{{ form.summary.errors }}</span>
        {% endif %}
    </div>

    <!-- Campo para el Archivo PDF -->
    <div class="mb-3">
        <label class="form-label required">{{ form.pdf_file.label }}</label>
        <input type="file" class="form-control" id="{{ form.pdf_file.id_for_label }}" name="{{ form.pdf_file.name }}"
               accept=".pdf" required>
        {% if form.pdf_file.errors %}
            <span class="text-danger d-block mb-3">{{ form.pdf_file.errors }}</span>
        {% endif %}
    </div>

    <!-- Sección para Coautores -->
    <fieldset>
        <legend>Coautores (Opcional)</legend>
        <small class="form-text text-muted">Puedes buscar coautores existentes o añadir nuevos</small>

        {{ formset.management_form }}
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>Buscar Coautor</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo Electrónico</th>
                <th>Institución</th>
                <th>ORCID ID</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody id="coauthor-table-body">
            {% for form in formset %}
                <tr>
                    <td>
                        <input type="text" class="form-control search-term"
                               name="coauthors-{{ forloop.counter0 }}-search_term"
                               value="{{ form.search_term.value|default:'' }}" placeholder="Buscar...">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="coauthors-{{ forloop.counter0 }}-first_name"
                               value="{{ form.first_name.value|default:'' }}" placeholder="Nombres">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="coauthors-{{ forloop.counter0 }}-last_name"
                               value="{{ form.last_name.value|default:'' }}" placeholder="Apellidos">
                    </td>
                    <td>
                        <input type="email" class="form-control" name="coauthors-{{ forloop.counter0 }}-email"
                               value="{{ form.email.value|default:'' }}" placeholder="Correo">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="coauthors-{{ forloop.counter0 }}-institution"
                               value="{{ form.institution.value|default:'' }}" placeholder="Institución">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="coauthors-{{ forloop.counter0 }}-orcid_id"
                               value="{{ form.orcid_id.value|default:'' }}" placeholder="ORCID ID">
                    </td>
                    <td>
                        <button type="button" class="btn btn-pill btn-outline-danger btn-sm delete-coauthor">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="icon icon-tabler icon-tabler-trash">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 7l16 0"/>
                                <path d="M10 11l0 6"/>
                                <path d="M14 11l0 6"/>
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                            </svg>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="button" id="add-coauthor" class="btn btn-pill btn-outline-success btn-sm">Añadir Coautor</button>
    </fieldset>
{% endblock form %}

{% block extrajs %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Evento para añadir coautores
            $('#add-coauthor').click(function () {
                const coauthorTableBody = $('#coauthor-table-body');
                const totalFormsInput = $('#id_coauthors-TOTAL_FORMS');
                const formIndex = parseInt(totalFormsInput.val());

                const newRow = `
        <tr>
          <td>
            <input type="text" class="form-control search-term" name="coauthors-${formIndex}-search_term" value="" placeholder="Buscar...">
          </td>
          <td>
            <input type="text" class="form-control" name="coauthors-${formIndex}-first_name" value="" placeholder="Nombres">
          </td>
          <td>
            <input type="text" class="form-control" name="coauthors-${formIndex}-last_name" value="" placeholder="Apellidos">
          </td>
          <td>
            <input type="email" class="form-control" name="coauthors-${formIndex}-email" value="" placeholder="Correo">
          </td>
          <td>
            <input type="text" class="form-control" name="coauthors-${formIndex}-institution" value="" placeholder="Institución">
          </td>
          <td>
            <input type="text" class="form-control" name="coauthors-${formIndex}-orcid_id" value="" placeholder="ORCID ID">
          </td>
          <td>
            <button type="button" class="btn btn-pill btn-outline-danger btn-sm delete-coauthor">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-trash">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </button>
          </td>
        </tr>
      `;

                coauthorTableBody.append(newRow);
                totalFormsInput.val(formIndex + 1);
            });

            // Evento para eliminar coautores
            $('#coauthor-table-body').on('click', '.delete-coauthor', function () {
                $(this).closest('tr').remove();
                const totalFormsInput = $('#id_coauthors-TOTAL_FORMS');
                const remainingRows = $('#coauthor-table-body tr').length;
                totalFormsInput.val(remainingRows);
            });
        });
    </script>
{% endblock extrajs %}