{% extends 'layouts/base-auth.html' %}
{% load static %}
{% block title %}
  Solicitud incorrecta
{% endblock %}
{% block body %}
  border-top-wide border-warning d-flex flex-column
{% endblock %}
{% block content %}
  <div class="page page-center">
    <div class="container-tight py-4">
      <div class="empty">
        <div class="empty-img">
          <img src="{% static 'dist/img/webp/bad-news.webp' %}" height="128" alt="" />
        </div>
        <div class="empty-header">400</div>
        <p class="empty-title">Solicitud incorrecta</p>
        <p class="empty-subtitle text-muted">Lo sentimos, pero no pudimos procesar tu solicitud.</p>
        <div class="empty-action">
          <a href="{% url 'home:index' %}" class="btn btn-primary">
            <i class="icon ti ti-arrow-left"></i>
            Volver al inicio
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
