{% extends 'layouts/base-auth.html' %}
{% load static %}
{% block title %}
  Página no encontrada
{% endblock %}
{% block body %}
  border-top-wide border-primary d-flex flex-column
{% endblock %}
{% block content %}
  <div class="page page-center">
    <div class="container-tight py-4">
      <div class="empty">
        <div class="empty-img">
          <img src="{% static 'dist/img/webp/not-found.webp' %}" height="128" alt="" />
        </div>
        <div class="empty-header">404</div>
        <p class="empty-title">Ups… Acabas de encontrar una página de error</p>
        <p class="empty-subtitle text-muted">Lo sentimos, pero la página que buscas no fue encontrada.</p>
        <div class="empty-action">
          <a href="{% url 'home:index' %}"
             class="btn btn-primary"
             onclick="if(window.history.length>1){event.preventDefault();history.back()}">
            <i class="icon ti ti-arrow-left"></i>
            Volver
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
