{% extends 'layouts/home.html' %}
{% load static %}
{% load my_filters %}
{% block content %}
  <div class="row row-cards">
    <div class="col-12">
      {% if objects %}
        <div class="row row-deck">
          {% for warning in objects %}
            <div class="col-md-6">
              {% with pdf_url=warning.absolute_file_url|default:'' %}
                {% include 'includes/home/document_card.html' with title=warning.title|default:warning.summary publisher=warning.user.get_full_name date=warning.valid_until|date:'d/m/Y H:i' pdf_url=pdf_url pdf_title=warning.get_warning_type_display %}
              {% endwith %}
            </div>
          {% endfor %}
        </div>
        {% include 'includes/home/document_pdf_modal.html' %}
      {% else %}
        <div class="row row-cards">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="text-center py-5">
                  <img src="{% static 'dist/img/webp/boy-refresh.webp' %}"
                       class="img-fluid w-25"
                       alt="No hay publicaciones" />
                  <p class="empty-title mt-4">Nada que mostrar...</p>
                  <p class="empty-subtitle text-secondary">No hay avisos disponibles por el momento.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block extrajs %}
  <script src="{% static 'dist/js/document-modal.js' %}"></script>
{% endblock %}
