{% extends 'layouts/dashboard.html' %}
{% load static %}
{% block title_actions %}
{% endblock title_actions %}
{% block content %}
  <div class="row row-cards">
    <div class="col-12">
      <!-- Contenedor de toasts -->
      <div class="toast-container position-fixed top-0 end-0 p-3" id="toast-container" style="z-index: 1060;">
        <!-- Los toasts se insertarán aquí dinámicamente -->
      </div>

      <form action="." method="post" class="card needs-validation" enctype="multipart/form-data" novalidate>
        <div class="card-body">
          {% csrf_token %}
          
          {% if form.non_field_errors %}
            <div class="alert alert-danger">
              {% for error in form.non_field_errors %}
                <div>{{ error }}</div>
              {% endfor %}
            </div>
          {% endif %}
          
          {% block form %}
          <!-- Los campos del formulario se definen en los templates hijos -->
          {% endblock %}
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary ms-auto">Aceptar</button>
          <a href="{{ url_list }}" class="btn btn-secondary ms-auto">Cancelar</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}