{% extends 'layouts/dashboard.html' %}
{% load static %}
{% block title_actions %}
{% if is_staff %}
<div class="col-auto ms-auto d-print-none">
  <div class="d-flex">
    {% if url_export %}
    <a href="{{ url_export }}" class="btn btn-icon btn-outline-success btn-sm" data-bs-toggle="tooltip" title="Exportar CSV" aria-label="Exportar CSV">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file-download">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
        <path d="M12 11v6" />
        <path d="M9 14l3 3l3 -3" />
      </svg>
    </a>
    {% endif %}
    {% if url_create %}
    <a href="{{ url_create }}" class="btn btn-primary">{{ btn }}</a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock title_actions %}
{% block content %}
  <div class="card">
    <div class="card-body p-4 table-responsive" style="border-radius: 10px;">
      <table id="example" class="table" style="width:100%">
        <thead>
          <tr>
            {% block columns %}
            {% endblock %}
          </tr>
        </thead>
        <tbody>
          {% for object in objects %}
            <tr>
              {% block row %}
              {% endblock %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <!-- Libs JS -->
  <script src="{% static 'dist/libs/datatables/datatables.min.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      new DataTable('#example', {
        language: {
          url: "{% static 'dist/libs/datatables/Spanish.json' %}"
        }
      })
    })
  </script>
{% endblock %}
