{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block title %}Modo de mantenimiento{% endblock title %}

{% block body %}border-top-wide border-primary d-flex flex-column{% endblock body %}

{% block content %}
<div class="page page-center">
  <div class="container-tight py-4">
    <div class="empty">
      <div class="empty-img">
        <img src="{% static 'dist/img/webp/computer-fix.webp' %}" height="128" alt="Modo de mantenimiento">
      </div>
      <p class="empty-title">Temporalmente en mantenimiento</p>
      <p class="empty-subtitle text-muted">
        Lo sentimos por las molestias, pero estamos realizando tareas de mantenimiento en este momento. ¡Volveremos a estar en línea pronto!
      </p>
      <!-- Mostrar enlace y texto adicional solo para usuarios no autenticados -->
      {% if not user.is_authenticated %}
      <div class="empty-action">
        <p class="text-muted">
          Si eres administrador, por favor inicia sesión para gestionar el estado del sitio:
        </p>
        <a href="{% url 'login' %}" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-login-2">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"/><path d="M3 12h13l-3 -3"/><path d="M13 15l3 -3"/>
          </svg>
            Iniciar sesión
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
