{% extends 'layouts/base-auth.html' %}
{% load static %}
{% block title %}
  Modo de mantenimiento
{% endblock %}
{% block body %}
  border-top-wide border-primary d-flex flex-column
{% endblock %}
{% block content %}
  <div class="page page-center">
    <div class="container-tight py-4">
      <div class="empty">
        <div class="empty-img">
          <img src="{% static 'dist/img/webp/computer-fix.webp' %}"
               height="128"
               alt="Modo de mantenimiento" />
        </div>
        <p class="empty-title">Temporalmente en mantenimiento</p>
        <p class="empty-subtitle text-muted">Lo sentimos por las molestias, pero estamos realizando tareas de mantenimiento en este momento. ¡Volveremos a estar en línea pronto!</p>
        <!-- Mostrar enlace y texto adicional solo para usuarios no autenticados -->
        {% if not user.is_authenticated %}
          <div class="empty-action">
            <p class="text-muted">Si eres administrador, por favor inicia sesión para gestionar el estado del sitio:</p>
            <a href="{% url 'user_auth:login' %}" class="btn btn-primary">
              <i class="icon ti ti-login-2"></i>
              Iniciar sesión
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
