{% extends 'layouts/form.html' %}

{% block form %}
  <div class="mb-3">
    <label class="form-label required" for="id_new_password1">Nueva contraseña</label>
    <input type="password" class="form-control" id="id_new_password1" name="new_password1" required>
    {% if form.new_password1.errors %}
      <span class="text-danger d-block mb-3">{{ form.new_password1.errors }}</span>
    {% endif %}
  </div>
  <div class="mb-3">
    <label class="form-label required" for="id_new_password2">Confirmar nueva contraseña</label>
    <input type="password" class="form-control" id="id_new_password2" name="new_password2" required>
    {% if form.new_password2.errors %}
      <span class="text-danger d-block mb-3">{{ form.new_password2.errors }}</span>
    {% endif %}
  </div>
{% endblock form %}
