{% extends 'layouts/base-auth.html' %}
{% load static %}
{% block content %}
<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <img src="{% static '' %}dist/img/webp/boy-with-key.webp" alt="boy-with-key">
    </div>
    <div class="card card-md">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Establecer Nueva Contraseña</h2>
        <form method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <span class="text-danger d-block mb-3">{{ error }}</span>
            {% endfor %}
          {% endif %}
          <div class="mb-3">
            <label class="form-label">{{ form.new_password1.label }}</label>
              <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}"
                      name="{{ form.new_password1.name }}" placeholder="Nueva Contraseña" autofocus>
              {% if form.new_password1.errors %}
                  <span class="text-danger d-block mb-3">{{ form.new_password1.errors }}</span>
              {% endif %}
          </div>
          <div class="mb-3">
            <label class="form-label">{{ form.new_password2.label }}</label>
              <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}"
                      name="{{ form.new_password2.name }}" placeholder="Confirmar Nueva Contraseña">
              {% if form.new_password2.errors %}
                  <span class="text-danger d-block mb-3">{{ form.new_password2.errors }}</span>
              {% endif %}
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">Restablecer Contraseña</button>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center text-secondary mt-3">
      Olvídalo, <a href="{% url 'login' %}">envíame de vuelta</a> a la pantalla de inicio de sesión.
    </div>
  </div>
</div>
{% endblock %}
