{% extends 'layouts/base-auth.html' %}
{% load static %}
{% block content %}
<div class="page page-center">
  <div class="container-xl">
    <div class="empty">
      <img src="{% static 'dist/img/webp/email.webp' %}" class="mode-image" alt="email">
        <p class="empty-title">Correo Enviado</p>
        <p class="empty-subtitle text-secondary">
          Hemos enviado un correo electrónico con las instrucciones para restablecer tu contraseña.
        </p>
    </div>
  </div>
</div>
{% endblock %}

