{% extends 'layouts/base-auth.html' %}
{% load static %}
{% block content %}
<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <img src="{% static '' %}dist/img/webp/bad-news.webp" alt="boy-with-key">
    </div>
    <div class="card card-md">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Olvidé mi contraseña</h2>
        <p class="text-secondary mb-4">Ingrese su dirección de correo y se le enviarán las instrucciones para restablecer su contraseña.</p>
        <form method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <span class="text-danger d-block mb-3">{{ error }}</span>
            {% endfor %}
          {% endif %}
          <div class="mb-3">
            <!-- <label class="form-label">{{ form.email.label }}</label> -->
              <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Correo Electrónico" autofocus>
              {% if form.email.errors %}
                  <span class="text-danger d-block mb-3">{{ form.email.errors }}</span>
              {% endif %}
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
              Restablecer Contraseña
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center text-secondary mt-3">
      Olvídalo, <a href="{% url 'login' %}">envíame de vuelta</a> a la pantalla de inicio de sesión.
    </div>
  </div>
</div>
{% endblock %}


