{% extends 'layouts/base-auth.html' %}
{% load static %}
{% block content %}
<div class="page page-center">
  <div class="container-xl">
    <div class="empty">
      <img src="{% static '' %}dist/img/webp/good-news.webp" alt="good-news">
        <p class="empty-title">Contraseña Restablecida</p>
        <p class="empty-subtitle text-secondary">
          Tu contraseña ha sido restablecida con éxito. Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a> con tu nueva contraseña.
        </p>
    </div>
  </div>
</div>
{% endblock %}
