{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load my_filters %}
{% block content %}
<!-- Sección exclusiva para Superusuarios -->
{% if user.is_superuser %}
  <!-- Estadisticas de Usuarios -->
    <div class="row row-deck row-cards">
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Usuarios Totales</h5>
                    <p class="card-text display-4">{{ user_stats.total_users }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Activos Hoy</h5>
                    <p class="card-text display-4">{{ user_stats.active_today }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Staff</h5>
                    <p class="card-text display-4">{{ user_stats.staff_users }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sesiones Activas</h5>
                    <p class="card-text display-4">{{ active_sessions }}</p>
                </div>
            </div>
        </div>
        <!-- Grupos de Permisos -->
        <div class="col-sm-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Grupos de Permisos</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Grupo</th>
                                    <th>Usuarios</th>
                                    <th>Permisos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in permission_groups_page %}
                                    <tr>
                                        <td>{{ group.name }}</td>
                                        <td>{{ group.user_count }}</td>
                                        <td>
                                            <ul class="list-unstyled mb-0">
                                                {% for perm in group.permissions.all|slice:":4" %}
                                                    <li class="text-muted small">{{ perm.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Paginación -->
                    <div class="pagination mt-3">
                        <ul class="pagination justify-content-center">
                          {% if permission_groups_page.has_previous %}
                            <li class="page-item">
                              <a href="?page_groups=1" class="page-link" aria-label="Primera">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Primera</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a href="?page_groups={{ permission_groups_page.previous_page_number }}" class="page-link">Anterior</a>
                            </li>
                          {% endif %}
                      
                          <li class="page-item disabled">
                            <span class="page-link">Página {{ permission_groups_page.number }} de {{ permission_groups_page.paginator.num_pages }}</span>
                          </li>
                      
                          {% if permission_groups_page.has_next %}
                            <li class="page-item">
                              <a href="?page_groups={{ permission_groups_page.next_page_number }}" class="page-link">Siguiente</a>
                            </li>
                            <li class="page-item">
                              <a href="?page_groups={{ permission_groups_page.paginator.num_pages }}" class="page-link" aria-label="Última">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Última</span>
                              </a>
                            </li>
                          {% endif %}
                        </ul>
                    </div>                      
                </div>
            </div>
        </div>
        <!-- Últimos Inicios de Sesión -->
        <div class="col-sm-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Últimos Inicios de Sesión (24h)</h3>
                </div>
                <div class="card-body">
                    <div class="row row-cols-1 g-0">
                        {% for login_user in recent_logins_page %}
                        <div class="col pb-3">
                            <div class="row g-0 align-items-center">
                                <div class="col-auto">
                                    <span class="avatar avatar-lg rounded-circle" style="background-image: url({{ login_user.profile.get_avatar }})"></span>
                                </div>
                                <div class="col ms-3">
                                    <div class="text-truncate d-flex w-100 justify-content-between">
                                        <strong>{{ login_user.get_full_name }}</strong>
                                        <small>{{ login_user.last_login|time_since }}</small>
                                    </div>
                                    <small class="text-muted mt-2 d-block">
                                        {% if login_user.is_superuser %}
                                            <span class="badge bg-green-lt me-2">Superusuario</span>
                                        {% endif %}
                                        {% if login_user.is_staff %}
                                            <span class="badge bg-azure-lt">Staff</span>
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% if not forloop.last %}
                            <hr class="my-2 text-muted">
                        {% endif %}
                        {% empty %}
                        <div class="text-center text-muted py-3">
                            No hay inicios de sesión recientes
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Paginación -->
                    <div class="pagination mt-3">
                        <ul class="pagination justify-content-center">
                          {% if recent_logins_page.has_previous %}
                            <li class="page-item">
                              <a href="?page_logins=1" class="page-link" aria-label="Primera">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Primera</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a href="?page_logins={{ recent_logins_page.previous_page_number }}" class="page-link">Anterior</a>
                            </li>
                          {% endif %}
                      
                          <li class="page-item disabled">
                            <span class="page-link">Página {{ recent_logins_page.number }} de {{ recent_logins_page.paginator.num_pages }}</span>
                          </li>
                      
                          {% if recent_logins_page.has_next %}
                            <li class="page-item">
                              <a href="?page_logins={{ recent_logins_page.next_page_number }}" class="page-link">Siguiente</a>
                            </li>
                            <li class="page-item">
                              <a href="?page_logins={{ recent_logins_page.paginator.num_pages }}" class="page-link" aria-label="Última">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Última</span>
                              </a>
                            </li>
                          {% endif %}
                        </ul>
                    </div>                      
                </div>  
            </div>
        </div>
    </div>
{% endif %}
<!-- Sección: Alertas -->
<div class="row row-deck row-cards mt-3">
  <h3 class="card-title">Alertas Activas</h3>
    <!-- Alertas Tempranas -->
    <div class="col-sm-6 col-lg-4">
        <div class="card h-100">
        <div class="card-body d-flex flex-column">
            <h5><i class="fas fa-bell me-2"></i>Tempranas</h5>
            <ul class="list-group list-group-flush flex-grow-1">
            {% for alert in latest_alerts.early_warnings %}
                <li class="list-group-item small">
                {{ alert.summary }}<br>
                <span class="text-muted">{{ alert.date|date:"d/m H:i" }}</span>
                </li>
            {% empty %}
                <li class="list-group-item text-muted small d-flex align-items-center justify-content-center flex-grow-1">
                No hay alertas tempranas
                </li>
            {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    <!-- Ciclones Tropicales -->
    <div class="col-sm-6 col-lg-4">
        <div class="card h-100">
        <div class="card-body d-flex flex-column">
            <h5><i class="fas fa-hurricane me-2"></i>Ciclones</h5>
            <ul class="list-group list-group-flush flex-grow-1">
            {% for alert in latest_alerts.tropical_cyclones %}
                <li class="list-group-item small">
                {{ alert.summary }}<br>
                <span class="text-muted">{{ alert.valid_until|date:"d/m H:i" }}</span>
                </li>
            {% empty %}
                <li class="list-group-item text-muted small d-flex align-items-center justify-content-center flex-grow-1">
                No hay alertas de ciclones
                </li>
            {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    <!-- Tormentas -->
    <div class="col-sm-6 col-lg-4">
        <div class="card h-100">
        <div class="card-body d-flex flex-column">
            <h5><i class="fas fa-comment-exclamation me-2"></i>Tormentas</h5>
            <ul class="list-group list-group-flush flex-grow-1">
            {% for alert in latest_alerts.storm_warnings %}
                <li class="list-group-item small">
                {{ alert.summary }}<br>
                <span class="text-muted">{{ alert.date|date:"d/m H:i" }}</span>
                </li>
            {% empty %}
                <li class="list-group-item text-muted small d-flex align-items-center justify-content-center flex-grow-1">
                No hay avisos de tormentas
                </li>
            {% endfor %}
            </ul>
        </div>
        </div>
    </div>
</div>
<!-- Sección: Pronósticos -->
<div class="row row-deck row-cards mt-3">
  <h3 class="card-title">Ultimo Pronóstico: {{ latest_forecast.date|date:"d/m/Y" }}</h3>
    <!-- Costa Norte -->
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                {% if latest_forecast %}
                    <p class="mb-1">Costa Norte</p>
                    <div class="row">
                        <!-- Mañana -->
                        <div class="col-4 text-center">
                            <p class="text-muted small">Mañana</p>
                            {% comment %} <p class="mb-1" data-bs-toggle="tooltip" title="Tiempo: {{ latest_forecast.nwm|get_tiempo_description }}">
                                {{ latest_forecast.nwm }}
                            </p> {% endcomment %}
                            <img src="{{ latest_forecast.nwm|get_weather_img }}" 
                                alt="{{ latest_forecast.nwm|get_tiempo_description }}" 
                                class="weather-icon w-50" 
                                data-bs-toggle="tooltip" 
                                title="{{ latest_forecast.nwm|get_tiempo_description }}">
                            <h3 class="text-success" data-bs-toggle="tooltip" title="Temperatura: {{ latest_forecast.ntm }}°C">
                                {{ latest_forecast.ntm }}°C
                            </h3>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Viento: {{ latest_forecast.nwdfm }} km/h Dirección: {{ latest_forecast.nwddm }}">
                                {{ latest_forecast.nwddm }} {{ latest_forecast.nwdfm }} km/h
                            </p>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Mar: {{ latest_forecast.nsm|get_mar_description }}">
                                <strong>Mar:</strong> {{ latest_forecast.nsm }}
                            </p>
                        </div>
                        <!-- Tarde -->
                        <div class="col-4 text-center">
                            <p class="text-muted small">Tarde (Max)</p>
                            {% comment %} <p class="mb-1" data-bs-toggle="tooltip" title="Tiempo: {{ latest_forecast.nwa|get_tiempo_description }}">
                                {{ latest_forecast.nwa }}
                            </p> {% endcomment %}
                            <img src="{{ latest_forecast.nwa|get_weather_img }}" 
                                alt="{{ latest_forecast.nwa|get_tiempo_description }}" 
                                class="weather-icon w-50" 
                                data-bs-toggle="tooltip" 
                                title="{{ latest_forecast.nwa|get_tiempo_description }}">
                            <h3 class="text-danger" data-bs-toggle="tooltip" title="Temperatura: {{ latest_forecast.nta }}°C">
                                {{ latest_forecast.nta }}°C
                            </h3>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Viento: {{ latest_forecast.nwdfa }} km/h Dirección: {{ latest_forecast.nwdda }}">
                                {{ latest_forecast.nwdda }} {{ latest_forecast.nwdfa }} km/h
                            </p>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Mar: {{ latest_forecast.nsa|get_mar_description }}">
                                <strong>Mar:</strong> {{ latest_forecast.nsa }}
                            </p>
                        </div>
                        <!-- Noche -->
                        <div class="col-4 text-center">
                            <p class="text-muted small">Noche</p>
                            {% comment %} <p class="mb-1" data-bs-toggle="tooltip" title="Tiempo: {{ latest_forecast.nwn|get_tiempo_description }}">
                                {{ latest_forecast.nwn }}
                            </p> {% endcomment %}
                            <img src="{{ latest_forecast.nwn|get_weather_img }}" 
                                alt="{{ latest_forecast.nwn|get_tiempo_description }}" 
                                class="weather-icon w-50" 
                                data-bs-toggle="tooltip" 
                                title="{{ latest_forecast.nwn|get_tiempo_description }}">
                            <h3 class="text-info" data-bs-toggle="tooltip" title="Temperatura: {{ latest_forecast.ntn }}°C">
                                {{ latest_forecast.ntn }}°C
                            </h3>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Viento: {{ latest_forecast.nwdfn }} km/h Dirección: {{ latest_forecast.nwddn }}">
                                {{ latest_forecast.nwddn }} {{ latest_forecast.nwdfn }} km/h
                            </p>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Mar: {{ latest_forecast.nsn|get_mar_description }}">
                                <strong>Mar:</strong> {{ latest_forecast.nsn }}
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info mb-0">
                        <i class="fas fa-exclamation-triangle me-2"></i>
                        No hay pronósticos disponibles.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Interior -->
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                {% if latest_forecast %}
                    <p class="mb-1">Interior</p>
                    <div class="row">
                        <!-- Mañana -->
                        <div class="col-4 text-center">
                            <p class="text-muted small">Mañana</p>
                            {% comment %} <p class="mb-1" data-bs-toggle="tooltip" title="Tiempo: {{ latest_forecast.iwm|get_tiempo_description }}">
                                {{ latest_forecast.iwm }}
                            </p> {% endcomment %}
                            <img src="{{ latest_forecast.iwm|get_weather_img }}" 
                                alt="{{ latest_forecast.iwm|get_tiempo_description }}" 
                                class="weather-icon w-50" 
                                data-bs-toggle="tooltip" 
                                title="{{ latest_forecast.iwm|get_tiempo_description }}">
                            <h3 class="text-success" data-bs-toggle="tooltip" title="Temperatura: {{ latest_forecast.itm }}°C">
                                {{ latest_forecast.itm }}°C
                            </h3>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Viento: {{ latest_forecast.iwdfm }} km/h Dirección: {{ latest_forecast.iwddm }}">
                                {{ latest_forecast.iwddm }} {{ latest_forecast.iwdfm }} km/h
                            </p>
                        </div>
                        <!-- Tarde -->
                        <div class="col-4 text-center">
                            <p class="text-muted small">Tarde (Max)</p>
                            {% comment %} <p class="mb-1" data-bs-toggle="tooltip" title="Tiempo: {{ latest_forecast.iwa|get_tiempo_description }}">
                                {{ latest_forecast.iwa }}
                            </p> {% endcomment %}
                            <img src="{{ latest_forecast.iwa|get_weather_img }}" 
                                alt="{{ latest_forecast.iwa|get_tiempo_description }}" 
                                class="weather-icon w-50" 
                                data-bs-toggle="tooltip" 
                                title="{{ latest_forecast.iwa|get_tiempo_description }}">
                            <h3 class="text-danger" data-bs-toggle="tooltip" title="Temperatura: {{ latest_forecast.ita }}°C">
                                {{ latest_forecast.ita }}°C
                            </h3>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Viento: {{ latest_forecast.iwdfa }} km/h Dirección: {{ latest_forecast.iwdda }}">
                                {{ latest_forecast.iwdda }} {{ latest_forecast.iwdfa }} km/h
                            </p>
                        </div>
                        <!-- Noche -->
                        <div class="col-4 text-center">
                            <p class="text-muted small">Noche</p>
                            {% comment %} <p class="mb-1" data-bs-toggle="tooltip" title="Tiempo: {{ latest_forecast.iwn|get_tiempo_description }}">
                                {{ latest_forecast.iwn }}
                            </p> {% endcomment %}
                            <img src="{{ latest_forecast.iwn|get_weather_img }}" 
                                alt="{{ latest_forecast.iwn|get_tiempo_description }}" 
                                class="weather-icon w-50" 
                                data-bs-toggle="tooltip" 
                                title="{{ latest_forecast.iwn|get_tiempo_description }}">
                            <h3 class="text-info" data-bs-toggle="tooltip" title="Temperatura: {{ latest_forecast.itn }}°C">
                                {{ latest_forecast.itn }}°C
                            </h3>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Viento: {{ latest_forecast.iwdfn }} km/h Dirección: {{ latest_forecast.iwddn }}">
                                {{ latest_forecast.iwddn }} {{ latest_forecast.iwdfn }} km/h
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info mb-0">
                        <i class="fas fa-exclamation-triangle me-2"></i>
                        No hay pronósticos disponibles.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Costa Sur -->
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                {% if latest_forecast %}
                    <p class="mb-1">Costa Sur</p>
                    <div class="row">
                        <!-- Mañana -->
                        <div class="col-4 text-center">
                            <p class="text-muted small">Mañana</p>
                            {% comment %} <p class="mb-1" data-bs-toggle="tooltip" title="{{ latest_forecast.swm|get_tiempo_description }}">
                                {{ latest_forecast.swm }}
                            </p> {% endcomment %}
                            <img src="{{ latest_forecast.swm|get_weather_img }}" 
                                alt="{{ latest_forecast.swm|get_tiempo_description }}" 
                                class="weather-icon w-50" 
                                data-bs-toggle="tooltip" 
                                title="{{ latest_forecast.swm|get_tiempo_description }}">
                            <h3 class="text-success" data-bs-toggle="tooltip" title="Temperatura: {{ latest_forecast.stm }}°C">
                                {{ latest_forecast.stm }}°C
                            </h3>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Viento: {{ latest_forecast.swdfm }} km/h Dirección: {{ latest_forecast.swddm }}">
                                {{ latest_forecast.swddm }} {{ latest_forecast.swdfm }} km/h
                            </p>
                            <p class="mb-1" data-bs-toggle="tooltip" title="{{ latest_forecast.ssm|get_mar_description }}">
                                <strong>Mar:</strong> {{ latest_forecast.ssm }}
                            </p>
                        </div>
                        <!-- Tarde -->
                        <div class="col-4 text-center">
                            <p class="text-muted small">Tarde (Max)</p>
                            {% comment %} <p class="mb-1" data-bs-toggle="tooltip" title="{{ latest_forecast.swa|get_tiempo_description }}">
                                {{ latest_forecast.swa }}
                            </p> {% endcomment %}
                            <img src="{{ latest_forecast.swa|get_weather_img }}" 
                                alt="{{ latest_forecast.swa|get_tiempo_description }}" 
                                class="weather-icon w-50" 
                                data-bs-toggle="tooltip" 
                                title="{{ latest_forecast.swa|get_tiempo_description }}">
                            <h3 class="text-danger" data-bs-toggle="tooltip" title="Temperatura: {{ latest_forecast.sta }}°C">
                                {{ latest_forecast.sta }}°C
                            </h3>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Viento: {{ latest_forecast.swdfa }} km/h Dirección: {{ latest_forecast.swdda }}">
                                {{ latest_forecast.swdda }} {{ latest_forecast.swdfa }} km/h
                            </p>
                            <p class="mb-1" data-bs-toggle="tooltip" title="{{ latest_forecast.ssa|get_mar_description }}">
                                <strong>Mar:</strong> {{ latest_forecast.ssa }}
                            </p>
                        </div>
                        <!-- Noche -->
                        <div class="col-4 text-center">
                            <p class="text-muted small">Noche</p>
                            {% comment %} <p class="mb-1" data-bs-toggle="tooltip" title="{{ latest_forecast.swn|get_tiempo_description }}">
                                {{ latest_forecast.swn }}
                            </p> {% endcomment %}
                            <img src="{{ latest_forecast.swn|get_weather_img }}" 
                                alt="{{ latest_forecast.swn|get_tiempo_description }}" 
                                class="weather-icon w-50" 
                                data-bs-toggle="tooltip" 
                                title="{{ latest_forecast.swn|get_tiempo_description }}">
                            <h3 class="text-info" data-bs-toggle="tooltip" title="Temperatura: {{ latest_forecast.stn }}°C">
                                {{ latest_forecast.stn }}°C
                            </h3>
                            <p class="mb-1" data-bs-toggle="tooltip" title="Viento: {{ latest_forecast.swdfn }} km/h Dirección: {{ latest_forecast.swddn }}">
                                {{ latest_forecast.swddn }} {{ latest_forecast.swdfn }} km/h
                            </p>
                            <p class="mb-1" data-bs-toggle="tooltip" title="{{ latest_forecast.ssn|get_mar_description }}">
                                <strong>Mar:</strong> {{ latest_forecast.ssn }}
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info mb-0">
                        <i class="fas fa-exclamation-triangle me-2"></i>
                        No hay pronósticos disponibles.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Gráfico de Temperaturas -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Tendencias de Temperatura</h3>
                <div id="temperatureTrendChart" class="position-relative chart-lg"></div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extrajs %}
<script src="{% static 'dist/libs/apexcharts/dist/apexcharts.min.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% if has_forecasts %}
        const currentTheme = document.documentElement.getAttribute('data-bs-theme') || 'light';
        const days = {{ temperature_labels|safe }};
        
        // ===== GRÁFICO: LÍNEAS DE TENDENCIA =====
        new ApexCharts(document.getElementById("temperatureTrendChart"), {
            chart: {
                type: "line",
                fontFamily: "inherit",
                height: 320,
                parentHeightOffset: 0,
                toolbar: {
                    show: false
                }
            },
            stroke: { 
                curve: "smooth", 
                width: 3,
                lineCap: 'round'
            },
            series: [
                { name: "Costa Norte Máx", data: {{ max_temperatures_north|safe }} },
                { name: "Costa Norte Mín", data: {{ min_temperatures_north|safe }} },
                { name: "Interior Máx", data: {{ max_temperatures_inland|safe }} },
                { name: "Interior Mín", data: {{ min_temperatures_inland|safe }} },
                { name: "Costa Sur Máx", data: {{ max_temperatures_south|safe }} },
                { name: "Costa Sur Mín", data: {{ min_temperatures_south|safe }} }
            ],
            tooltip: { 
                theme: currentTheme, 
                shared: true,
                intersect: false,
                enabledOnSeries: undefined,
                y: {
                    formatter: function(value) {
                        return value + " °C";
                    }
                }
            },
            grid: { 
                borderColor: 'var(--tblr-border-color)',
                strokeDashArray: 4,
                padding: {
                    top: -20,
                    right: 0,
                    left: -4,
                    bottom: -4
                },
                xaxis: {
                    lines: {
                        show: true
                    }
                }
            },
            xaxis: { 
                categories: days,
                labels: { 
                    style: { 
                        colors: 'var(--tblr-body-color)',
                        fontSize: '12px',
                        fontFamily: 'inherit'
                    },
                    padding: 0
                },
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                tooltip: {
                    enabled: false
                }
            },
            yaxis: {
                title: { 
                    text: "Temperatura (°C)", 
                    style: { 
                        color: 'var(--tblr-body-color)',
                        fontSize: '12px',
                        fontFamily: 'inherit',
                        fontWeight: 600
                    } 
                },
                labels: { 
                    style: { 
                        colors: 'var(--tblr-body-color)',
                        fontSize: '12px',
                        fontFamily: 'inherit'
                    },
                    padding: 4,
                    formatter: function (val) {
                        return val + "°";
                    }
                }
            },
            // Colores por región con tonos diferentes para máxima y mínima
            colors: [
                "#228be6",  // Costa Norte Máx - Azul marino
                "#4dabf7",  // Costa Norte Mín - Azul celeste
                "#12b886",  // Interior Máx - Verde esmeralda
                "#38d9a9",  // Interior Mín - Verde menta
                "#ae3ec9",  // Costa Sur Máx - Morado
                "#cc5de8"   // Costa Sur Mín - Lila
            ],
            legend: { 
                show: true, 
                horizontalAlign: "center",
                fontSize: '12px',
                fontFamily: 'inherit',
                labels: { 
                    colors: 'var(--tblr-body-color)',
                    useSeriesColors: false
                },
                markers: {
                    width: 10,
                    height: 10,
                    strokeWidth: 0,
                    radius: 10,
                    offsetX: 0,
                    offsetY: 0
                },
                itemMargin: {
                    horizontal: 10,
                    vertical: 5
                }
            },
            markers: {
                size: 0,
                hover: {
                    size: 6
                }
            }
        }).render();
        {% endif %}
    });
</script>
{% endblock extrajs %}