{% extends 'layouts/list.html' %}
{% load static %}
{% block columns %}
  <th>Resumen</th>
  <th>Fecha</th>
  <th>Válido hasta</th>
  <th>Estado</th>
  <th>Autor</th>
  <th class="text-end">Acciones</th>
{% endblock %}
{% block row %}
  <td>
    <div data-bs-toggle="tooltip"
         data-bs-placement="bottom"
         title="{{ object.summary }}">{{ object.summary|truncatechars:60 }}</div>
  </td>
  <td>{{ object.date|date:"d/m/Y h:i A" }}</td>
  <td>{{ object.valid_until|date:"d/m/Y h:i A" }}</td>
  <td>
    {% if object.valid_until >= now %}
      <span class="badge badge-outline text-green">Vigente</span>
    {% else %}
      <span class="badge badge-outline text-red">Expirado</span>
    {% endif %}
  </td>
  <td>{{ object.user.get_full_name|default:object.user }}</td>
  <td class="text-end">
    {% if object.file %}
      <a href="{{ object.file.url }}"
         type="button"
         class="btn btn-icon btn-outline-primary btn-sm"
         data-bs-toggle="tooltip"
         data-bs-placement="bottom"
         aria-label="Descargar PDF"
         data-bs-original-title="Descargar PDF"
         target="_blank">
        <i class="icon ti ti-file-download"></i>
      </a>
      <button type="button"
              class="btn btn-outline-primary btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#documentPdfModal"
              data-pdf-url="{{ object.file.url }}"
              data-pdf-title="Alerta: {{ object.summary|truncatechars:40 }}">
        <i class="icon ti ti-file-text"></i> Ver PDF
      </button>
    {% endif %}
    <a href="{% url 'meteo:alerta_temprana_update' object.uuid %}"
       type="button"
       class="btn btn-icon btn-outline-warning btn-sm"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       aria-label="Editar"
       data-bs-original-title="Editar">
      <i class="icon ti ti-edit"></i>
    </a>
    <button type="button"
            class="btn btn-icon btn-outline-danger btn-sm action-btn"
            data-uuid="{{ object.uuid }}"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            aria-label="Eliminar"
            data-bs-original-title="Eliminar">
      <i class="icon ti ti-trash"></i>
    </button>
  </td>
{% endblock %}
{% block modal %}
  {% include 'includes/dashboard/modal_delete.html' %}
{% endblock %}
{% block extrajs %}
  {{ block.super }}
  {% include 'includes/dashboard/modal_delete_js.html' with delete_url_name='meteo:alerta_temprana_delete' %}
{% endblock %}
