{% extends 'layouts/form.html' %}
{% load static %}
{% block form %}
  <div class="row">
    <div class="mb-3">
      <label class="form-label required">{{ form.summary.label }}</label>
      <input type="text" class="form-control" id="{{ form.summary.id_for_label }}" name="{{ form.summary.name }}" placeholder="Resumen" value="{{ form.summary.value }}" required>
      {% if form.summary.errors %}
          <span class="text-danger d-block mb-3">{{ form.summary.errors }}</span>
      {% endif %}
    </div>
    <div class="mb-3">
      <label class="form-label required">{{ form.detailed_forecast.label }}</label>
      <textarea id="tinymce-default" name="{{ form.detailed_forecast.name }}" placeholder="Pronóstico Detallado">{{ form.detailed_forecast.value }}</textarea>
      {% if form.detailed_forecast.errors %}
          <span class="text-danger d-block mb-3">{{ form.detailed_forecast.errors }}</span>
      {% endif %}
    </div>
    <div class="col-md-12 mb-3">
      <label class="form-label required">{{ form.email_recipient_list.label }}</label>
      {{ form.email_recipient_list }}
      {% if form.email_recipient_list.errors %}
          <span class="text-danger d-block mb-3">{{ form.email_recipient_list.errors }}</span>
      {% endif %}
    </div>
  </div>
{% endblock form %}
