{% extends 'layouts/form.html' %}
{% load static %}
{% block form %}
    <div class="row">
        <div class="mb-3">
            <label class="form-label required">{{ form.summary.label }}</label>
            <input type="text" class="form-control" id="{{ form.summary.id_for_label }}" name="{{ form.summary.name }}"
                   placeholder="Asunto" value="{{ form.summary.value }}" required>
            {% if form.summary.errors %}
                <span class="text-danger d-block mb-3">{{ form.summary.errors }}</span>
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label required">{{ form.file.label }}</label>
            <input type="file" class="form-control" id="{{ form.file.id_for_label }}" name="{{ form.file.name }}"
                   value="{{ form.file.value }}" accept=".pdf" required>
            {% if form.file.errors %}
                <span class="text-danger d-block mb-3">{{ form.file.errors }}</span>
            {% endif %}
            <div id="pdfPreview" class="preview-container m-3"></div>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label required">{{ form.email_recipient_list.label }}</label>
            {{ form.email_recipient_list }}
            {% if form.email_recipient_list.errors %}
                <span class="text-danger d-block mb-3">{{ form.email_recipient_list.errors }}</span>
            {% endif %}
        </div>
    </div>
    
    <script>
        document.getElementById('id_file').addEventListener('change', function (e) {
            const file = e.target.files[0];
            const preview = document.getElementById('pdfPreview');

            if (file && file.type === 'application/pdf') {
                const fileURL = URL.createObjectURL(file);

                preview.innerHTML = `
                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <iframe src="${fileURL}" width="75%" height="400px" style="border: 1px solid #ccc;"></iframe>
    <div style="padding: 10px; background: #f5f5f5; width: 75%; text-align: center;">
        <strong>Archivo:</strong> ${file.name} 
    </div>
</div>
                `;
            } else {
                preview.innerHTML = '<p style="padding: 20px; color: red;">Por favor, selecciona un archivo PDF válido.</p>';
            }
        });
    </script>
{% endblock form %}