{% load static %}
<div class="row">
    <div class="col-md-8 mb-3">
        <label class="form-label required">{{ form.summary.label }}</label>
        <input type="text" class="form-control" id="{{ form.summary.id_for_label }}" name="{{ form.summary.name }}"
               placeholder="Resumen" required>
        {% if form.title.errors %}
            <span class="text-danger d-block mb-3">{{ form.summary.errors }}</span>
        {% endif %}
    </div>

    <div class="col-md-4 mb-3">
        <label class="form-label required">{{ form.valid_until.label }}</label>
        <input type="datetime-local" class="form-control" id="{{ form.valid_until.id_for_label }}"
               name="{{ form.valid_until.name }}" required>
        {% if form.valid_until.errors %}
            <span class="text-danger d-block mb-3">{{ form.valid_until.errors }}</span>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label required">{{ form.file.label }}</label>
        <input type="file" class="form-control" id="{{ form.file.id_for_label }}" name="{{ form.file.name }}"
               required>
        {% if form.image.errors %}
            <span class="text-danger d-block mb-3">{{ form.file.errors }}</span>
        {% endif %}
        <div id="pdfPreview" class="preview-container m-3"></div>
    
    </div>
    <div class="col-md-12 mb-3">
        <label class="form-label required">{{ form.email_recipient_list.label }}</label>
        {{ form.email_recipient_list }}
        {% if form.email_recipient_list.errors %}
            <span class="text-danger d-block mb-3">{{ form.email_recipient_list.errors }}</span>
        {% endif %}
    </div>
</div>

<!-- Elemento de inicialización automática -->
<div data-pdf-preview 
     data-file-input="{{ form.file.id_for_label }}" 
     data-preview-container="pdfPreview" 
     style="display: none;">
</div>

<!-- En el head -->
<link rel="stylesheet" href="{% static 'dist/css/pdf-form-preview.css' %}">

<!-- Antes de cerrar el body -->
<script src="{% static 'dist/libs/PDF/pdf.min.js' %}"></script>
<script src="{% static 'dist/js/pdf-form-preview.js' %}"></script>
<script>
    pdfjsLib.GlobalWorkerOptions.workerSrc = "{% static 'dist/libs/PDF/pdf.worker.min.js' %}";
</script>