<div class="text-center text-muted py-3">
  {% if icon == 'forecast' %}
    <i class="icon icon-lg text-muted mb-2 ti ti-cloud-off"></i>
  {% elif icon == 'astronomy' %}
    <i class="icon icon-lg text-muted mb-2 ti ti-moon-stars"></i>
  {% elif icon == 'astronomy_sun' %}
    <i class="icon icon-lg text-muted mb-2 ti ti-sunset-2"></i>
  {% elif icon == 'uv' %}
    <i class="icon icon-lg text-muted mb-2 ti ti-uv-index"></i>
  {% else %}
    <i class="icon icon-lg text-muted mb-2 ti ti-file-text"></i>
  {% endif %}
  <div>{{ message|default:"No hay datos disponibles." }}</div>
</div>
