<footer class="footer footer-transparent d-print-none">
  <div class="container-xl">
    <!-- Copyright y redes sociales -->
    <div class="row mt-3">
      <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
          <ul class="list-inline mb-0 mt-3">
            <li class="list-inline-item">
              <a class="social social-app-instagram social-gray social-sm"
                 href="https://www.instagram.com/meteorologiacmg?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                 target="_blank"
                 rel="noopener noreferrer"
                 aria-label="Instagram"></a>
            </li>
            <li class="list-inline-item">
              <a class="social social-app-facebook social-gray social-sm"
                 href="https://www.facebook.com/insmetcmpcmg?locale=es_LA"
                 target="_blank"
                 rel="noopener noreferrer"
                 aria-label="Facebook"></a>
            </li>
            <li class="list-inline-item">
              <a class="social social-app-x social-gray social-sm"
                 href="https://x.com/INSMET_CMP_CMG"
                 target="_blank"
                 rel="noopener noreferrer"
                 aria-label="X"></a>
            </li>
            <li class="list-inline-item">
              <a class="social social-app-telegram social-gray social-sm"
                 href="https://t.me/meteoalertaCMG"
                 target="_blank"
                 rel="noopener noreferrer"
                 aria-label="Telegram"></a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
              &copy;<script>document.write(new Date().getFullYear())</script>
              -
              <a href="{% url 'home:index' %}" class="link-secondary">Centro Meteorológico Provincial de Camagüey.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
