{% load my_filters %}
<div class="col-lg-4 mb-3">
  <div class="card">
    <div class="card-body">
      <h3 class="subheader text-muted fw-medium">{{ region_name }}</h3>
      {% if latest_forecast %}
        {% with m=region_data.morning a=region_data.afternoon n=region_data.night %}
        <div class="row">
          <div class="col-4 text-center">
            <p class="text-muted small">Mañana</p>
            <div class="weather-icon mx-auto">
              <img src="{{ m.weather_icon }}" alt="{{ m.weather|get_tiempo_description }}" class="weather-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ m.weather|get_tiempo_description }}" />
            </div>
            <h3 class="text-success">{{ m.temp }}°C</h3>
            <p class="mb-1">{{ m.wind_dir }} {{ m.wind_speed }} km/h</p>
            {% if show_sea %}
            <p class="mb-1">
              <strong>Mar:</strong> {{ m.sea }}
            </p>
            {% endif %}
          </div>
          <div class="col-4 text-center">
            <p class="text-muted small">Tarde (Max)</p>
            <div class="weather-icon mx-auto">
              <img src="{{ a.weather_icon }}" alt="{{ a.weather|get_tiempo_description }}" class="weather-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ a.weather|get_tiempo_description }}" />
            </div>
            <h3 class="text-danger">{{ a.temp }}°C</h3>
            <p class="mb-1">{{ a.wind_dir }} {{ a.wind_speed }} km/h</p>
            {% if show_sea %}
            <p class="mb-1">
              <strong>Mar:</strong> {{ a.sea }}
            </p>
            {% endif %}
          </div>
          <div class="col-4 text-center">
            <p class="text-muted small">Noche</p>
            <div class="weather-icon mx-auto">
              <img src="{{ n.weather_icon }}" alt="{{ n.weather|get_tiempo_description }}" class="weather-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ n.weather|get_tiempo_description }}" />
            </div>
            <h3 class="text-info">{{ n.temp }}°C</h3>
            <p class="mb-1">{{ n.wind_dir }} {{ n.wind_speed }} km/h</p>
            {% if show_sea %}
            <p class="mb-1">
              <strong>Mar:</strong> {{ n.sea }}
            </p>
            {% endif %}
          </div>
        </div>
        {% endwith %}
      {% else %}
        {% include 'includes/home/empty_state.html' with icon='forecast' %}
      {% endif %}
    </div>
  </div>
</div>
