{% load static %}
<header class="navbar navbar-expand-md sticky-top d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-menu"
            aria-controls="navbar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- logo -->
    <a class="navbar-brand navbar-brand-autodark"
       href="{% url 'home:index' %}"
       aria-label="Ir al inicio">{% include 'includes/logo.html' with class="navbar-brand-image" %}</a>
    <div class="navbar-nav flex-row order-md-last">
      <!-- Tema Claro|Oscuro -->
      <div class="d-none d-md-flex">
        <a href="?theme=dark"
           class="nav-link px-0 hide-theme-dark"
           title="Habilitar el modo oscuro"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="icon"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               stroke-width="2"
               stroke="currentColor"
               fill="none"
               stroke-linecap="round"
               stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
          </svg>
        </a>
        <a href="?theme=light"
           class="nav-link px-0 hide-theme-light"
           title="Habilitar el modo claro"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="icon"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               stroke-width="2"
               stroke="currentColor"
               fill="none"
               stroke-linecap="round"
               stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
            <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
          </svg>
        </a>
      </div>
      <!-- Menú Usuario -->
      <div class="nav-item dropdown">
        {% if request.user.is_authenticated %}
          <a href="#"
             class="nav-link d-flex lh-1 text-reset p-0"
             data-bs-toggle="dropdown"
             aria-label="Open user menu">
            <span class="avatar avatar-sm rounded-circle"
                  style="background-image: url({{ request.user.profile.get_avatar }})"></span>
            <div class="d-none d-xl-block ps-2">
              <div>{{ request.user.username }}</div>
              <div class="mt-1 small text-muted">{{ request.user.email }}</div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="{% url 'user_auth:profile_detail' %}" class="dropdown-item">Mi Perfil</a>
            {% if request.user.is_staff %}
              <a href="{% url 'dashboard:index' %}" class="dropdown-item">Administración</a>
            {% else %}
              <a href="{% url 'commercial:suscripcion_list' %}" class="dropdown-item">Mis Suscripciones</a>
            {% endif %}
            {% if request.user.profile and not request.user.profile.is_ldap %}
              <a href="{% url 'user_auth:password_change' %}" class="dropdown-item">Cambiar Contraseña</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a href="{% url 'user_auth:logout' %}" class="dropdown-item">Cerrar Sesión</a>
          </div>
        {% else %}
          <a href="{% url 'user_auth:login' %}"
             class="nav-link d-flex lh-1 text-reset p-0"
             data-bs-toggle="tooltip"
             data-bs-placement="bottom"
             title="Iniciar sesión">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="icon"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-login-2">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
              <path d="M3 12h13l-3 -3" />
              <path d="M13 15l3 -3" />
            </svg>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
<header class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar">
      <div class="container-xl">
        {% include 'includes/home/menu-list.html' %}
        <!-- <div class="col col-md-auto">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-settings">
                        <span class="badge badge-sm bg-red text-red-fg">New</span>
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-palette"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 21a9 9 0 0 1 0 -18c4.97 0 9 3.582 9 8c0 1.06 -.474 2.078 -1.318 2.828c-.844 .75 -1.989 1.172 -3.182 1.172h-2.5a2 2 0 0 0 -1 3.75a1.3 1.3 0 0 1 -1 2.25" /><path d="M8.5 10.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M16.5 10.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                        </span>
                        <span class="nav-link-title"> Configuración</span>
                      </a>
                    </li>
                  </ul>
                </div> -->
      </div>
    </div>
  </div>
</header>
