{% extends 'layouts/home.html' %}
{% load static %}
{% load home_extras %}

{% block content %}
<div class="col-md">
  <div class="row row-cards">
    <div class="space-y">
      {% if services %}
        <div class="row">
          {% for service in services %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ service.title }}</h5>
                <p class="card-text">{{ service.summary }}</p>

                {% if user.is_authenticated %}
                  {% if user.is_staff %}
                    <a href="{% url 'actualizar_servicio' service.uuid %}" class="btn btn-outline-warning">Editar</a>
                  {% elif user.customer %}
                    {% with sub=user_subscriptions|get_item:service.id %}
                      {% if sub %}
                        {% if sub.payment_status == 'paid' and sub.end_date > now %}
                          <span class="badge badge-outline text-green">Activo</span>
                        {% elif sub.payment_status == 'pending' %}
                          <span class="badge badge-outline text-prange">Pendiente de pago</span>
                        {% elif sub.payment_status == 'requested' %}
                          <span class="badge badge-outline text-info">Solicitado</span>
                        {% else %}
                          <a href="{% url 'solicitar_suscripcion' service.uuid %}" class="btn btn-outline-primary">Solicitar</a>
                        {% endif %}
                      {% else %}
                        <a href="{% url 'solicitar_suscripcion' service.uuid %}" class="btn btn-outline-primary">Solicitar</a>
                      {% endif %}
                    {% endwith %}
                  {% else %}
                    <a href="{% url 'customer_register' %}" class="btn btn-outline-primary">Regístrese</a>
                  {% endif %}
                {% else %}
                  <a href="{% url 'login' %}?next={% url 'solicitar_suscripcion' service.uuid %}" class="btn btn-outline-primary">Iniciar sesión</a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="row row-cards">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="text-center py-5">
                  <img src="{% static 'dist/img/webp/boy-refresh.webp' %}" class="img-fluid w-25" alt="No hay publicaciones" />
                  <p class="empty-title mt-4">Nada que mostrar...</p>
                  <p class="empty-subtitle text-secondary">No tienes servicios activos en este momento.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}