{% if request.user.is_staff %}
<li class="nav-item {% if 'dashboard' in segment %}active{% endif %}">
    <a class="nav-link" href="{% url 'dashboard:index' %}">
        <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-dashboard"></i></span>
        <span class="nav-link-title">Dashboard</span>
    </a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home:index' %}">
        <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-home"></i></span>
        <span class="nav-link-title">Ver Sitio</span>
    </a>
</li>
{% endif %}
