{% if page_obj.paginator.num_pages > 1 %}
  <div class="card-footer border-0 pt-0">
    <div class="pagination justify-content-center">
      <ul class="pagination pagination-sm mb-0">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a href="?{{ param_name }}=1" class="page-link" aria-label="Primera"><span aria-hidden="true">&laquo;&laquo;</span></a>
          </li>
          <li class="page-item">
            <a href="?{{ param_name }}={{ page_obj.previous_page_number }}"
               class="page-link">&lsaquo;</a>
          </li>
        {% endif %}
        <li class="page-item disabled">
          <span class="page-link">Pág. {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
        </li>
        {% if page_obj.has_next %}
          <li class="page-item">
            <a href="?{{ param_name }}={{ page_obj.next_page_number }}"
               class="page-link">&rsaquo;</a>
          </li>
          <li class="page-item">
            <a href="?{{ param_name }}={{ page_obj.paginator.num_pages }}"
               class="page-link"
               aria-label="Última"><span aria-hidden="true">&raquo;&raquo;</span></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}
