{% extends 'layouts/form.html' %}
{% load static %}

{% block form %}
  <!-- Cliente -->
  <div class="mb-3">
    <label class="form-label required">{{ form.customer.label }}</label>
    <select name="{{ form.customer.name }}" class="form-control" required>
      {% for choice in form.customer.field.choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == form.customer.value %}selected{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
    </select>
    {% if form.customer.errors %}
      <span class="text-danger">{{ form.customer.errors }}</span>
    {% endif %}
  </div>

  <!-- Servicio -->
  <div class="mb-3">
    <label class="form-label required">{{ form.service.label }}</label>
    <select name="{{ form.service.name }}" class="form-control" required>
      {% for choice in form.service.field.choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == form.service.value %}selected{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
    </select>
    {% if form.service.errors %}
      <span class="text-danger">{{ form.service.errors }}</span>
    {% endif %}
  </div>

  <!-- Fecha de inicio -->
  <!-- <div class="mb-3">
    <label class="form-label">{{ form.start_date.label }}</label>
    <input type="datetime-local" name="{{ form.start_date.name }}" class="form-control" value="{{ form.start_date.value|date:'Y-m-d\TH:i' }}">
    {% if form.start_date.errors %}
      <span class="text-danger">{{ form.start_date.errors }}</span>
    {% endif %}
  </div> -->

  <!-- Fecha de expiración -->
  <!-- <div class="mb-3">
    <label class="form-label">{{ form.end_date.label }}</label>
    <input type="datetime-local" name="{{ form.end_date.name }}" class="form-control" value="{{ form.end_date.value|date:'Y-m-d\TH:i' }}">
    {% if form.end_date.errors %}
      <span class="text-danger">{{ form.end_date.errors }}</span>
    {% endif %}
  </div> -->

  <!-- Estado de pago -->
  <div class="mb-3">
    <label class="form-label required">{{ form.payment_status.label }}</label>
    <select name="{{ form.payment_status.name }}" class="form-control" required>
      {% for choice in form.payment_status.field.choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == form.payment_status.value %}selected{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
    </select>
    {% if form.payment_status.errors %}
      <span class="text-danger">{{ form.payment_status.errors }}</span>
    {% endif %}
  </div>

{% endblock %}