{% extends 'layouts/form.html' %}
{% load static %}

{% block form %}
<div class="card mb-3">
  <div class="card-body">
    <h4 class="card-title">Aprobar pago y subir certificado</h4>
    <div class="datagrid">
      <div class="datagrid-item">
        <div class="datagrid-title">Cliente</div>
        <div class="datagrid-content">{{ object.customer.company_name }}</div>
      </div>
      <div class="datagrid-item">
        <div class="datagrid-title">Servicio</div>
        <div class="datagrid-content">{{ object.service.title }}</div>
      </div>
      <div class="datagrid-item">
        <div class="datagrid-title">Período</div>
        <div class="datagrid-content">{{ object.start_date|date:"d/m/Y" }} - {{ object.end_date|date:"d/m/Y" }}</div>
      </div>
    </div>
  </div>
</div>
    
<div class="mb-3">
<label class="form-label required">Certificado (PDF)</label>
<input type="file" name="pdf" accept=".pdf" required class="form-control">
{% if form.pdf.errors %}
  <span class="text-danger">{{ form.pdf.errors }}</span>
{% endif %}
<small class="form-hint">Selecciona el archivo PDF del certificado para este cliente.</small>
</div>

{% endblock %}