{% extends 'layouts/galeria.html' %}
{% load static %}
{% block content %}
  <div class="row g-2 g-md-3">
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16split/g16split.jpg">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16split/g16split.jpg);
                    background-size: cover;
                    background-position: center"></div>
      </a>
      <div class="text-center mt-1">
        <small class="text-secondary">Polvo</small>
      </div>
    </div>
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16natcol/g16nc.jpg">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16natcol/g16nc.jpg);
                    background-size: cover;
                    background-position: center"></div>
      </a>
      <div class="text-center mt-1">
        <small class="text-secondary">Color Natural</small>
      </div>
    </div>
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16wvupper/g16wvupper.jpg">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16wvupper/g16wvupper.jpg);
                    background-size: cover;
                    background-position: center"></div>
      </a>
      <div class="text-center mt-1">
        <small class="text-secondary">Vapor de agua niveles altos</small>
      </div>
    </div>
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16wvmid/g16wvmid.jpg">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16wvmid/g16wvmid.jpg);
                    background-size: cover;
                    background-position: center"></div>
      </a>
      <div class="text-center mt-1">
        <small class="text-secondary">Vapor de agua niveles medios</small>
      </div>
    </div>
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16wvlow/g16wvlow.jpg">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16wvlow/g16wvlow.jpg);
                    background-size: cover;
                    background-position: center"></div>
      </a>
      <div class="text-center mt-1">
        <small class="text-secondary">Vapor de agua niveles bajos</small>
      </div>
    </div>
  </div>
  <hr />
  <h4>Imágenes satelitales interactivas de NASA GHCC</h4>
  <div class="row g-2 g-md-3">
    <div class="col-lg-4">
      <a href="https://weather.ndc.nasa.gov/goes/abi/goesEastconusband02.html"
         target="_blank"
         rel="noopener noreferrer">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url({% static 'dist/img/GOES16_abi_conus_band02.jpg' %});
                    background-size: cover;
                    background-position: center"></div>
      </a>
      <div class="text-center mt-1">
        <small class="text-secondary">Nubes diurnas, niebla, insolación, vientos.</small>
      </div>
    </div>
    <div class="col-lg-4">
      <a href="https://weather.ndc.nasa.gov/goes/abi/goesEastconusband13.html"
         target="_blank"
         rel="noopener noreferrer">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url({% static 'dist/img/GOES16_abi_conus_band13.jpg' %});
                    background-size: cover;
                    background-position: center"></div>
      </a>
      <div class="text-center mt-1">
        <small class="text-secondary">Temperatura superficial y nubes.</small>
      </div>
    </div>
    <div class="col-lg-4">
      <a href="https://www.star.nesdis.noaa.gov/goes/sector.php?sat=G16&sector=car"
         target="_blank"
         rel="noopener noreferrer">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url({% static 'dist/img/GOES_Image_Viewer.png' %});
                    background-size: cover;
                    background-position: center"></div>
      </a>
      <div class="text-center mt-1">
        <small class="text-secondary">Imagenes del Sector: Caribe -NOAA / NESDIS /STAR</small>
      </div>
    </div>
  </div>
{% endblock %}
