{% extends 'layouts/galeria.html' %}
{% load static %}
{% block content %}
  <div class="row g-2 g-md-3">
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16split/g16split.jpg"
         role="img"
         aria-label="Polvo">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16split/g16split.jpg);
                    background-size: cover;
                    background-position: center"
             aria-hidden="true"></div>
      </a>
    </div>
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16natcol/g16nc.jpg"
         role="img"
         aria-label="Color Natural">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16natcol/g16nc.jpg);
                    background-size: cover;
                    background-position: center"
             aria-hidden="true"></div>
      </a>
    </div>
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16wvupper/g16wvupper.jpg"
         role="img"
         aria-label="Vapor de agua niveles altos">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16wvupper/g16wvupper.jpg);
                    background-size: cover;
                    background-position: center"
             aria-hidden="true"></div>
      </a>
    </div>
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16wvmid/g16wvmid.jpg"
         role="img"
         aria-label="Vapor de agua niveles medios">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16wvmid/g16wvmid.jpg);
                    background-size: cover;
                    background-position: center"
             aria-hidden="true"></div>
      </a>
    </div>
    <div class="col-lg-4">
      <a data-fslightbox="gallery"
         href="/proxy_image/?image_path=real-time/sal/g16wvlow/g16wvlow.jpg"
         role="img"
         aria-label="Vapor de agua niveles bajos">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url(/proxy_image/?image_path=real-time/sal/g16wvlow/g16wvlow.jpg);
                    background-size: cover;
                    background-position: center"
             aria-hidden="true"></div>
      </a>
    </div>
  </div>
  <hr />
  <h4>Imágenes satelitales interactivas de NASA GHCC</h4>
  <div class="row g-2 g-md-3">
    <div class="col-lg-4">
      <a href="https://weather.ndc.nasa.gov/goes/abi/goesEastconusband02.html"
         target="_blank"
         rel="noopener noreferrer"
         role="img"
         aria-label="Nubes diurnas, niebla, insolación, vientos.">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url({% static 'dist/img/GOES16_abi_conus_band02.jpg' %});
                    background-size: cover;
                    background-position: center"
             aria-hidden="true"></div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="https://weather.ndc.nasa.gov/goes/abi/goesEastconusband13.html"
         target="_blank"
         rel="noopener noreferrer"
         role="img"
         aria-label="Temperatura superficial y nubes.">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url({% static 'dist/img/GOES16_abi_conus_band13.jpg' %});
                    background-size: cover;
                    background-position: center"
             aria-hidden="true"></div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="https://www.star.nesdis.noaa.gov/goes/sector.php?sat=G16&sector=car"
         target="_blank"
         rel="noopener noreferrer"
         role="img"
         aria-label="Imagenes del Sector: Caribe -NOAA / NESDIS /STAR">
        <div class="ratio ratio-3x1 rounded-3 border"
             style="background-image: url({% static 'dist/img/GOES_Image_Viewer.png' %});
                    background-size: cover;
                    background-position: center"
             aria-hidden="true"></div>
      </a>
    </div>
  </div>
{% endblock %}
