{% extends 'layouts/home.html' %}
{% load static %}

{% block content %}
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <form id="meteogram-form" method="post">
                    {% csrf_token %}
                    <div class="row g-3 align-items-end">
                        <!-- Campos Fecha y Hora -->
                        <div class="col-md-3">
                            <div class="row g-2">
                                <input type="hidden" name="datetime_init" id="datetime-init">
                                <!-- Fecha -->
                                <div class="col-12">
                                    <label class="form-label required">Fecha</label>
                                    <div class="input-icon">
                                        <input class="form-control" placeholder="Seleccione una fecha" id="datepicker"
                                               value="{{ initial_date|default:'' }}">
                                        <span class="input-icon-addon">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                       stroke-linejoin="round" class="icon icon-1">
                                      <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
                                      <path d="M16 3v4"></path>
                                      <path d="M8 3v4"></path>
                                      <path d="M4 11h16"></path>
                                      <path d="M11 15h1"></path>
                                      <path d="M12 15v3"></path>
                                  </svg>
                              </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <!-- Hora -->
                            <div class="mb-0">
                                <label for="hour-select" class="form-label required">Hora</label>
                                <select class="form-select" id="hour-select" required>
                                    <option value="00" selected>00:00</option>
                                    <option value="06">06:00</option>
                                    <option value="12">12:00</option>
                                    <option value="18">18:00</option>
                                </select>
                            </div>
                        </div>

                        <!-- Campo Latitud -->
                        <div class="col-md-2 form-field">
                            <label for="id_lat" class="form-label">Latitud</label>
                            <input type="number" class="form-control" id="id_lat" name="lat" step="0.001" required>
                        </div>

                        <!-- Campo Longitud -->
                        <div class="col-md-2 form-field">
                            <label for="id_long" class="form-label">Longitud</label>
                            <input type="number" class="form-control" id="id_long" name="long" step="0.001"
                                   required>
                        </div>

                        <!-- Botón de enviar -->
                        <div class="col-md-3">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary" id="submit-btn">Generar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card mt-4">
            <div class="card-body">
                <div class="plot-container">
                    <div class="loading-overlay d-none" id="loading">
                        <div class="spinner-border text-primary" role="status"></div>
                        <p class="mt-2">Generando gráfico...</p>
                    </div>

                    <!-- Mensaje inicial -->
                    <div id="container" class="empty-plot-message">
                        <p>Seleccione parámetros y haga clic en "Generar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'dist/libs/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'dist/libs/highcharts/modules/datagrouping.js' %}"></script>
    <script src="{% static 'dist/libs/highcharts/modules/windbarb.js' %}"></script>
    <script src="{% static 'dist/libs/highcharts/modules/pattern-fill.js' %}"></script>
    <script src="{% static 'dist/libs/highcharts/modules/data.js' %}"></script>
    <script src="{% static 'dist/libs/highcharts/modules/exporting.js' %}"></script>
    <script src="{% static 'dist/libs/highcharts/modules/accessibility.js' %}"></script>
    <script src="{% static 'dist/libs/litepicker/dist/litepicker.js' %}"></script>
    <script src="{% static 'dist/js/meteogram.js' %}"></script>
    <script src="{% static 'dist/js/meteogram-form.js' %}"></script>
{% endblock extrajs %}