{% extends 'layouts/list.html' %}
{% load static %}
{% block columns %}
  <th>Provincia</th>
  <th>Nombre</th>
  <th>Latitud</th>
  <th>Longitud</th>
  <th class="text-end">Acciones</th>
{% endblock %}
{% block row %}
  <td>{{ object.province.name|default:'—' }}</td>
  <td class="fw-medium">{{ object.name }}</td>
  <td>{{ object.latitude|floatformat:4 }}</td>
  <td>{{ object.longitude|floatformat:4 }}</td>
  <td class="text-end">
    <a href="{% url 'meteo:municipio_update' object.uuid %}"
       type="button"
       class="btn btn-icon btn-outline-warning btn-sm"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       aria-label="Editar"
       data-bs-original-title="Editar">
      <i class="icon ti ti-edit"></i>
    </a>
    <button type="button"
            class="btn btn-icon btn-outline-danger btn-sm action-btn"
            data-uuid="{{ object.uuid }}"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            aria-label="Eliminar"
            data-bs-original-title="Eliminar">
      <i class="icon ti ti-trash"></i>
    </button>
  </td>
{% endblock %}
{% block modal %}
  {% include 'includes/dashboard/modal_delete.html' %}
{% endblock %}
{% block extrajs %}
  {{ block.super }}
  {% include 'includes/dashboard/modal_delete_js.html' with delete_url_name='meteo:municipio_delete' %}
{% endblock %}
