{% extends 'layouts/form.html' %}
{% load static %}
{% block form %}
  {% include 'includes/dashboard/form_card.html' with card_title='Datos del Municipio' %}
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label required">{{ form.province.label }}</label>
      <select class="form-select
                     {% if form.province.errors %}is-invalid{% endif %}"
              id="{{ form.province.id_for_label }}"
              name="{{ form.province.name }}"
              autofocus
              required>
        <option value="" disabled>Seleccione una provincia</option>
        {% for value, text in form.province.field.choices %}
          {% if value %}
            <option value="{{ value }}"
                    {% if form.province.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}>
              {{ text }}
            </option>
          {% endif %}
        {% endfor %}
      </select>
      {% if form.province.errors %}
        <div class="invalid-feedback d-block">{{ form.province.errors.0 }}</div>
      {% endif %}
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label required">{{ form.name.label }}</label>
      <input type="text"
             class="form-control
                    {% if form.name.errors %}is-invalid{% endif %}"
             id="{{ form.name.id_for_label }}"
             name="{{ form.name.name }}"
             value="{{ form.name.value|default:'' }}"
             placeholder="Florida"
             required>
      {% if form.name.errors %}
        <div class="invalid-feedback d-block">{{ form.name.errors.0 }}</div>
      {% endif %}
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label required">{{ form.latitude.label }}</label>
      <input type="number"
             step="any"
             class="form-control
                    {% if form.latitude.errors %}is-invalid{% endif %}"
             id="{{ form.latitude.id_for_label }}"
             name="{{ form.latitude.name }}"
             value="{{ form.latitude.value|default:'' }}"
             placeholder="Ej: 21.3823"
             required>
      {% if form.latitude.errors %}
        <div class="invalid-feedback d-block">{{ form.latitude.errors.0 }}</div>
      {% endif %}
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label required">{{ form.longitude.label }}</label>
      <input type="number"
             step="any"
             class="form-control
                    {% if form.longitude.errors %}is-invalid{% endif %}"
             id="{{ form.longitude.id_for_label }}"
             name="{{ form.longitude.name }}"
             value="{{ form.longitude.value|default:'' }}"
             placeholder="Ej: -77.8516"
             required>
      {% if form.longitude.errors %}
        <div class="invalid-feedback d-block">{{ form.longitude.errors.0 }}</div>
      {% endif %}
    </div>
  </div>
  </div>
  </div>
  </div>
{% endblock %}
