{% if field %}
  <div class="mb-3">
    <label class="form-label{% if field.field.required %}
                    required{% endif %}"
           for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="input-group{% if field.errors %}
                  is-invalid{% endif %}"
         data-tempus-container>
      <input type="text"
             class="form-control{% if field.errors %}
                      is-invalid{% endif %}"
             id="{{ field.id_for_label }}"
             name="{{ field.html_name }}"
             value="{{ value|default:'' }}"
             data-tempus="{{ mode|default:'date' }}"
             placeholder="{{ placeholder|default:'' }}"
             autocomplete="off" />
      <span class="input-group-text" data-tempus-trigger>
        <i class="ti
                  {% if mode == 'time' %}
                    ti-clock{% elif mode == 'datetime' %}ti-calendar-clock{% else %}ti-calendar{% endif %}"></i>
      </span>
    </div>
    {% if field.errors %}
      <div class="invalid-feedback d-block">{{ field.errors.0 }}</div>
    {% endif %}
  </div>
{% endif %}
