{% load my_filters %}
{% load home_extras %}
<ul class="navbar-nav pt-lg-3">
    <!-- Dashboard -->
    {% if request.user.is_staff %}
    <li class="nav-item {% if 'dashboard:index' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:index' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-dashboard"></i>
            </span>
            <span class="nav-link-title">Dashboard</span>
        </a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home:index' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-home"></i>
            </span>
            <span class="nav-link-title">Ver Sitio</span>
        </a>
    </li>
    {% endif %}
    <!-- Autenticación -->
    <li class="nav-item dropdown {% if 'accounts' in parent %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-lock"></i>
            </span>
            <span class="nav-link-title">Autenticación</span>
        </a>
        <div class="dropdown-menu {% if 'accounts' in parent %}show{% endif %}">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    {% if request.user.is_superuser %}
                    <a class="dropdown-item {% if 'groups' in segment %}active{% endif %}" href="{% url 'accounts:groups_list' %}">Grupos</a>
                    <a class="dropdown-item {% if 'users' in segment %}active{% endif %}" href="{% url 'accounts:users_list' %}">Usuarios</a>
                    {% endif %}
                    <a class="dropdown-item {% if 'profile' in segment %}active{% endif %}" href="{% url 'accounts:profile_detail' %}">Perfil</a>
                    <a class="dropdown-item {% if 'password_change' in segment %}active{% endif %}" href="{% url 'accounts:password_change' %}">Cambiar Contraseña</a>
                </div>
            </div>
        </div>
    </li>
    <!-- Provincias -->
    {% if request.user|has_permission:'dashboard.view_province' %}
    <li class="nav-item {% if 'provincia' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'geo:provincia_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-map-2"></i>
            </span>
            <span class="nav-link-title">Provincias</span>
        </a>
    </li>
    {% endif %}
    <!-- Municipios -->
    {% if request.user|has_permission:'dashboard.view_town' %}
    <li class="nav-item {% if 'town' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'geo:municipio_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-building-community"></i>
            </span>
            <span class="nav-link-title">Municipios</span>
        </a>
    </li>
    {% endif %}
    <!-- Estaciones -->
    {% if request.user|has_permission:'dashboard.view_station' %}
    <li class="nav-item {% if 'estacion' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'geo:estacion_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-building-broadcast-tower"></i>
            </span>
            <span class="nav-link-title">Estaciones</span>
        </a>
    </li>
    {% endif %}
    <!-- Pronósticos -->
    {% if request.user|has_permission:'dashboard.view_forecast' %}
    <li class="nav-item {% if 'pronostico' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:pronostico_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-sun-moon"></i>
            </span>
            <span class="nav-link-title">Pronósticos</span>
        </a>
    </li>
    {% endif %}
    <!-- Tiempo -->
    {% if request.user|has_permission:'dashboard.view_forecast' %}
    <li class="nav-item dropdown {% if 'tiempo' in parent %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-temperature-sun"></i>
            </span>
            <span class="nav-link-title">Tiempo</span>
        </a>
        <div class="dropdown-menu {% if 'tiempo' in parent %}show{% endif %}">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    <a class="dropdown-item {% if 'tiempo_h' in segment %}active{% endif %}" href="{% url 'dashboard:tiempo_hoy_list' %}">Hoy</a>
                    <a class="dropdown-item {% if 'tiempo_m' in segment %}active{% endif %}" href="{% url 'dashboard:tiempo_manana_list' %}">Mañana</a>
                </div>
            </div>
        </div>
    </li>
    {% endif %}
    <!-- Comentarios -->
    {% if request.user|has_permission:'dashboard.view_forecast' %}
    <li class="nav-item dropdown {% if 'comentario' in parent %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-file-report"></i>
            </span>
            <span class="nav-link-title">Comentarios</span>
        </a>
        <div class="dropdown-menu {% if 'comentario' in parent %}show{% endif %}">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    <a class="dropdown-item {% if 'comentario_tiempo' in segment %}active{% endif %}" href="{% url 'dashboard:comentario_tiempo_list' %}">Tiempo</a>
                    <a class="dropdown-item {% if 'nota_meteorologica' in segment %}active{% endif %}" href="{% url 'dashboard:nota_meteorologica_list' %}">Nota meteorológica</a>
                </div>
            </div>
        </div>
    </li>
    {% endif %}
    <!-- Avisos -->
    {% if request.user|has_permission:'dashboard.view_early_warning' or request.user|has_permission:'dashboard.view_tropical_cyclone' or request.user|has_permission:'dashboard.view_special_notice' or request.user|has_permission:'dashboard.view_radar_warning' %}
    <li class="nav-item dropdown {% if 'avisos' in parent %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-alert-triangle"></i>
            </span>
            <span class="nav-link-title">Avisos</span>
        </a>
        <div class="dropdown-menu {% if 'avisos' in parent %}show{% endif %}">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    {% if request.user|has_permission:'dashboard.view_early_warning' %}
                    <a class="dropdown-item {% if 'early' in segment %}active{% endif %}" href="{% url 'dashboard:alerta_temprana_list' %}">Alertas Tempranas</a>
                    {% endif %}
                    {% if request.user|has_permission:'dashboard.view_tropical_cyclone' %}
                    <a class="dropdown-item {% if 'cyclone' in segment %}active{% endif %}" href="{% url 'dashboard:ciclon_tropical_list' %}">Ciclones Tropicales</a>
                    {% endif %}
                    {% if request.user|has_permission:'dashboard.view_storm_warning' %}
                    <a class="dropdown-item {% if 'storm' in segment %}active{% endif %}" href="{% url 'dashboard:tormenta_list' %}">Tormentas</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </li>
    {% endif %}
    <!-- Clientes -->
    {% if request.user|has_permission:'dashboard.view_customer' %}
    <li class="nav-item {% if 'clientes' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:cliente_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-users"></i>
            </span>
            <span class="nav-link-title">Clientes</span>
        </a>
    </li>
    {% endif %}
    <!-- Servicios -->
    {% if request.user|has_permission:'dashboard.view_service' %}
    <li class="nav-item {% if 'servicios' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:servicio_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-tools"></i>
            </span>
            <span class="nav-link-title">Servicios</span>
        </a>
    </li>
    {% endif %}
    <!-- Suscripciones -->
    {% if request.user|has_permission:'dashboard.view_subscription' or request.user|has_group:'Clientes' %}
    <li class="nav-item {% if 'suscripciones' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:suscripcion_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-file-certificate"></i>
            </span>
            <span class="nav-link-title">{% if request.user.is_staff %}Suscripciones{% else %}Mis Suscripciones{% endif %}</span>
            {% if request.user.is_staff %}
                {% if staff_requested_count > 0 %}
                    <span class="badge bg-blue-lt ms-1">{{ staff_requested_count }}</span>
                {% endif %}
                {% if staff_pending_count > 0 %}
                    <span class="badge bg-orange-lt ms-1">{{ staff_pending_count }}</span>
                {% endif %}
                {% if staff_expired_count > 0 %}
                    <span class="badge bg-red-lt ms-1">{{ staff_expired_count }}</span>
                {% endif %}
            {% endif %}
            {% if not request.user.is_staff %}
                {% if client_requested_count > 0 %}
                    <span class="badge bg-blue-lt ms-1">{{ client_requested_count }}</span>
                {% endif %}
                {% if client_pending_count > 0 %}
                    <span class="badge bg-orange-lt ms-1">{{ client_pending_count }}</span>
                {% endif %}
                {% if client_expired_count > 0 %}
                    <span class="badge bg-red-lt ms-1">{{ client_expired_count }}</span>
                {% endif %}
            {% endif %}
        </a>
    </li>
    {% endif %}
    <!-- Facturación -->
    {% if request.user|has_permission:'dashboard.view_invoice' %}
    <li class="nav-item {% if 'facturas' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:factura_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-file-invoice"></i>
            </span>
            <span class="nav-link-title">Facturación</span>
        </a>
    </li>
    {% endif %}
    <!-- Contratos -->
    {% if request.user|has_permission:'dashboard.view_contract' %}
    <li class="nav-item {% if 'contratos' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:contrato_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-contract"></i>
            </span>
            <span class="nav-link-title">Contratos</span>
        </a>
    </li>
    {% endif %}
    <!-- Certificados -->
    {% if request.user|has_permission:'dashboard.view_certificate' %}
    <li class="nav-item {% if 'certificados' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:certificado_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-certificate"></i>
            </span>
            <span class="nav-link-title">Certificados</span>
        </a>
    </li>
    {% endif %}
    <!-- Publicaciones -->
    {% if request.user|has_permission:'publications.view_scientific_publication' %}
    <li class="nav-item {% if 'publicaciones' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'publications:list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-article"></i>
            </span>
            <span class="nav-link-title">Publicaciones</span>
        </a>
    </li>
    {% endif %}
    <!-- Listados de Correos -->
    {% if request.user|has_permission:'dashboard.view_email_recipient_list' %}
    <li class="nav-item {% if 'email' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:lista_correo_list' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-mail"></i>
            </span>
            <span class="nav-link-title">Listados de Correos</span>
        </a>
    </li>
    {% endif %}
    <!-- Configuración de la empresa -->
    {% if request.user|has_permission:'dashboard.change_companysettings' %}
    <li class="nav-item {% if 'dashboard:company_settings' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:company_settings' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-building-bank"></i>
            </span>
            <span class="nav-link-title">Empresa</span>
        </a>
    </li>
    {% endif %}
    <!-- Modo Mantenimiento -->
    {% if request.user.is_superuser %}
    <li class="nav-item {% if 'maintenance' in segment %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:toggle_maintenance_mode' %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-settings"></i>
            </span>
            <span class="nav-link-title">Mantenimiento</span>
        </a>
    </li>
    {% endif %}
</ul>
