{% load static %}
<header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-menu"
            aria-controls="navbar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav flex-row order-md-last">
      <!-- Tema Claro|Oscuro -->
      <div class="d-none d-md-flex">
        <a href="?theme=dark"
           class="nav-link px-0 hide-theme-dark"
           title="Habilitar el modo oscuro"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom">
          <i class="icon ti ti-moon"></i>
        </a>
        <a href="?theme=light"
           class="nav-link px-0 hide-theme-light"
           title="Habilitar el modo claro"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom">
          <i class="icon ti ti-sun"></i>
        </a>
      </div>
      <!-- User Menu -->
      <div class="nav-item dropdown">
        <a href="#"
           class="nav-link d-flex lh-1 text-reset p-0"
           data-bs-toggle="dropdown"
           aria-label="Open user menu">
          <span class="avatar avatar-sm rounded-circle"
                style="background-image: url({{ request.user.profile.get_avatar }})"></span>
          <div class="d-none d-xl-block ps-2">
            <div>{{ request.user.username }}</div>
            <div class="mt-1 small text-muted">{{ request.user.email }}</div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          {% if request.user.is_authenticated %}
            <a href="{% url 'home:index' %}" class="dropdown-item">Ver Sitio</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'user_auth:profile_detail' %}" class="dropdown-item">Perfil</a>
            {% if request.user.profile and not request.user.profile.is_ldap %}
              {% url 'user_auth:password_change' as password_change_url %}{% if password_change_url %}<a href="{{ password_change_url }}" class="dropdown-item">Cambiar Contraseña</a>{% endif %}
            {% endif %}
            <div class="dropdown-divider"></div>
            <a href="{% url 'user_auth:logout' %}" class="dropdown-item">Cerrar Sesión</a>
          {% else %}
            <a href="{% url 'user_auth:login' %}" class="dropdown-item">Iniciar sesión</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu"></div>
  </div>
</header>
