{% load static %}
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebar-menu"
            aria-controls="sidebar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark">
      <a href="{% url 'home:index' %}">{% include 'includes/logo.html' with class="navbar-brand-image" %}</a>
    </h1>
    <!-- User Menu -->
    <div class="navbar-nav flex-row d-lg-none">
      <div class="d-none d-lg-flex">
        <a href="?theme=dark"
           class="nav-link px-0 hide-theme-dark"
           title="Habilitar el modo oscuro"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom">
          <i class="icon ti ti-moon"></i>
        </a>
        <a href="?theme=light"
           class="nav-link px-0 hide-theme-light"
           title="Habilitar el modo claro"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom">
          <i class="icon ti ti-sun"></i>
        </a>
      </div>
      {% if request.user.is_authenticated %}
        <div class="nav-item dropdown">
          <a href="#"
             class="nav-link d-flex lh-1 text-reset p-0"
             data-bs-toggle="dropdown"
             aria-label="Open user menu">
            <span class="avatar avatar-sm rounded-circle"
                  style="background-image: url({{ request.user.profile.get_avatar }})"></span>
            <div class="d-none d-xl-block ps-2">
              <div>{{ request.user.username }}</div>
              <div class="mt-1 small text-muted">{{ request.user.email }}</div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="{% url 'home:index' %}" class="dropdown-item">Ver Sitio</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'user_auth:profile_detail' %}" class="dropdown-item">Perfil</a>
            {% url 'user_auth:password_change' as password_change_url %}{% if password_change_url %}<a href="{{ password_change_url }}" class="dropdown-item">Cambiar Contraseña</a>{% endif %}
            <div class="dropdown-divider"></div>
            <a href="{% url 'user_auth:logout' %}" class="dropdown-item">Cerrar Sesión</a>
          </div>
        </div>
      {% else %}
        <div class="d-none d-lg-flex">
          <a href="{% url 'user_auth:login' %}"
             class="nav-link px-0 hide-theme-dark"
             title="Iniciar sesión"
             data-bs-toggle="tooltip"
             data-bs-placement="bottom">
            <i class="icon ti ti-moon"></i>
          </a>
        </div>
      {% endif %}
    </div>
    <div class="collapse navbar-collapse" id="sidebar-menu">{% include 'includes/dashboard/menu-list.html' %}</div>
  </div>
</aside>
