{% extends 'layouts/form.html' %}
{% load static my_filters %}
{% block title_actions %}
    <div class="col-12 col-md-auto order-md-last">
        <div class="d-flex justify-content-center">
            <form id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="page-pretitle">
                    Cargar desde Excel
                    <input type="file" class="form-control" id="excelFile" name="excelFile" accept=".xlsx, .xls">
                </div>
            </form>
        </div>
    </div>
{% endblock title_actions %}
{% block form %}
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label required">{{ form.date.label }}</label>
                <div class="mb-3">
                    <div class="input-group input-group-flat {% if form.date.errors %}is-invalid{% endif %}">
                        <span class="input-group-text {% if form.date.errors %}border-danger{% endif %}"></span>
                        <input type="date" name="date" class="form-control {% if form.date.errors %}is-invalid{% endif %}"
                            placeholder="aaaa-mm-dd" id="{{ form.date.id_for_label }}"
                            value="{{ date }}" required>
                    </div>
                    {% if form.date.errors %}
                        <div class="invalid-feedback">{{ form.date.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ region_formset.management_form }}
    {{ extended_formset.management_form }}

    {% for label, region_key, has_sea in region_config %}
    <pre>{{ label }}</pre>
    <div class="row">
        {% for form in region_formset %}
            {% if form.region.value == region_key %}
                <input type="hidden" name="{{ form.region.html_name }}" value="{{ form.region.value }}">
                <input type="hidden" name="{{ form.period.html_name }}" value="{{ form.period.value }}">
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-header"><h4>{{ form.period.value|period_display }}</h4></div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label">Temperatura</label>
                                {{ form.temp }}
                                {% if form.temp.errors %}<div class="invalid-feedback d-block">{{ form.temp.errors.0 }}</div>{% endif %}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tiempo</label>
                                {{ form.weather }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Dirección del Viento</label>
                                {{ form.wind_dir }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Velocidad del Viento</label>
                                {{ form.wind_speed }}
                            </div>
                            {% if has_sea %}
                            <div class="mb-3">
                                <label class="form-label">Mar</label>
                                {{ form.sea_note }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

    <pre>Pronóstico Extendido</pre>
    <div class="row">
        {% for form in extended_formset %}
            <input type="hidden" name="{{ form.day_number.html_name }}" value="{{ form.day_number.value }}">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header"><h4>Día {{ form.day_number.value }}</h4></div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Fecha</label>
                            {{ form.date }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Temp. Mín</label>
                            {{ form.min_temp }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Temp. Máx</label>
                            {{ form.max_temp }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tiempo</label>
                            {{ form.weather }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <pre>Astronomía</pre>
    <div class="row">
        <div class="col-lg-4">
            <div class="mb-3">
                <label class="form-label">{{ form.lp.label }}</label>
                {{ form.lp }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3">
                <label class="form-label">{{ form.nlp.label }}</label>
                {{ form.nlp }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3">
                <label class="form-label">{{ form.nlpd.label }}</label>
                {{ form.nlpd }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3">
                <label class="form-label">{{ form.sunrise.label }}</label>
                {{ form.sunrise }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3">
                <label class="form-label">{{ form.sunset.label }}</label>
                {{ form.sunset }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3">
                <label class="form-label">{{ form.uv_index.label }}</label>
                {{ form.uv_index }}
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'dist/js/forecast.js' %}"></script>
{% endblock %}
