{% load static %}
<script src="{% static 'dist/js/tabler.min.js' %}" defer></script>
<script src="{% static 'dist/libs/jquery/jquery-3.6.0.min.js' %}"></script>
<script>
	/* This script handles the theme settings offcanvas functionality
	It saves the selected settings to localStorage and applies them to the document
	It also updates the URL with the selected settings as query parameters
	It also has a reset button to clear all settings and revert to default
	This is just a demo script to show how to implement theme settings. You can modify it as needed.*/
	document.addEventListener("DOMContentLoaded", function () {
		var themeConfig = {
			theme: "light",
			"theme-base": "gray",
			"theme-font": "sans-serif",
			"theme-primary": "blue",
			"theme-radius": "1",
		};
		var url = new URL(window.location);
		var form = document.getElementById("offcanvas-settings");
		var resetButton = document.getElementById("reset-changes");
		var checkItems = function () {
			for (var key in themeConfig) {
				var value = window.localStorage["tabler-" + key] || themeConfig[key];
				if (!!value) {
					var radios = form.querySelectorAll(`[name="${key}"]`);
					if (!!radios) {
						radios.forEach((radio) => {
							radio.checked = radio.value === value;
						});
					}
				}
			}
		};
		form.addEventListener("change", function (event) {
			var target = event.target,
				name = target.name,
				value = target.value;
			for (var key in themeConfig) {
				if (name === key) {
					document.documentElement.setAttribute("data-bs-" + key, value);
					window.localStorage.setItem("tabler-" + key, value);
					url.searchParams.set(key, value);
				}
			}
			window.history.pushState({}, "", url);
		});
		resetButton.addEventListener("click", function () {
			for (var key in themeConfig) {
				var value = themeConfig[key];
				document.documentElement.removeAttribute("data-bs-" + key);
				window.localStorage.removeItem("tabler-" + key);
				url.searchParams.delete(key);
			}
			checkItems();
			window.history.pushState({}, "", url);
		});
		checkItems();
	});
</script>