{% extends 'layouts/list.html' %}
{% load static %}
{% block columns %}
  <th>Nombre</th>
  <th>Código</th>
  <th>Municipios</th>
  <th>Estaciones</th>
  <th class="text-end">Acciones</th>
{% endblock %}
{% block row %}
  <td class="fw-medium">{{ object.name }}</td>
  <td><span class="badge bg-blue-lt">{{ object.code }}</span></td>
  <td>
    <span class="badge bg-purple-lt">{{ object.num_towns }}</span>
  </td>
  <td>
    <span class="badge bg-green-lt">{{ object.num_stations }}</span>
  </td>
  <td class="text-end">
    {% if request.user.is_staff %}
      <a href="{% url 'meteo:provincia_update' object.uuid %}"
         type="button"
         class="btn btn-icon btn-outline-warning btn-sm"
         data-bs-toggle="tooltip"
         data-bs-placement="bottom"
         aria-label="Editar"
         data-bs-original-title="Editar">
        <i class="icon ti ti-edit"></i>
      </a>
    {% endif %}
    {% if is_superuser %}
      <button type="button"
              class="btn btn-icon btn-outline-danger btn-sm action-btn"
              data-uuid="{{ object.uuid }}"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              aria-label="Eliminar"
              data-bs-original-title="Eliminar">
        <i class="icon ti ti-trash"></i>
      </button>
    {% endif %}
  </td>
{% endblock %}
{% block modal %}
  {% include 'includes/dashboard/modal_delete.html' %}
{% endblock %}
{% block extrajs %}
  {{ block.super }}
  {% include 'includes/dashboard/modal_delete_js.html' with delete_url_name='meteo:provincia_delete' %}
{% endblock %}
