{% extends 'layouts/home.html' %}
{% load static %}
{% block content %}
  {% if objects %}
    <div class="row row-deck gy-4">
      {% for object in objects %}
        <div class="col-md-6">
          {% if object.pdf %}
            {% url 'home:publication_pdf' object.uuid as publication_pdf_url %}
            {% include 'includes/home/document_card.html' with title=object.title summary=object.summary publisher=object.author date=object.publication_date pdf_url=publication_pdf_url|add:'?inline=1' pdf_title=object.title %}
          {% else %}
            {% include 'includes/home/document_card.html' with title=object.title summary=object.summary publisher=object.author date=object.publication_date pdf_title=object.title %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="text-center py-5">
              <img src="{% static 'dist/img/webp/boy-refresh.webp' %}"
                   class="img-fluid w-25"
                   alt="No hay publicaciones" />
              <p class="empty-title mt-4">Nada que mostrar...</p>
              <p class="empty-subtitle text-secondary">No se han encontrado publicaciones para mostrar en este momento.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% include 'includes/home/document_pdf_modal.html' %}
{% endblock %}
{% block extrajs %}
  <script src="{% static 'dist/js/document-modal.js' %}"></script>
{% endblock %}
