{% extends 'layouts/list.html' %}
{% load static %}
{% block columns %}
  <th>Fecha</th>
  <th>Hora</th>
  <th>Autor</th>
  <th class="text-end">Acciones</th>
{% endblock columns %}
{% block row %}
  <td>{{ object.date|date:"j \d\e F \d\e Y" }}</td>
  <td>{{ object.date|time:"h:i A" }}</td>
  <td>{{ object.user.username }}</td>
  <td class="text-end">
    <a href="{% url 'actualizar_tiempo_h' object.uuid %}" type="button" class="btn btn-pill btn-outline-warning btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Editar" data-bs-original-title="Editar">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
    </a>
    <a href="#" type="button" class="btn btn-pill btn-outline-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Detalle" data-bs-original-title="Detalle" data-bs-toggle="modal" data-bs-target="#WeatherTodayModal" data-url="{% url 'detalle_tiempo_h' object.uuid %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
    </a>
    <a href="#" type="button" class="btn btn-pill btn-outline-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Pdf" data-bs-original-title="Pdf">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" /><path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" /><path d="M17 18h2" /><path d="M20 15h-3v6" /><path d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" /></svg>
    </a>
    <a href="{% url 'eliminar_tiempo_h' object.uuid %}" type="button" class="btn btn-pill btn-outline-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Eliminar" data-bs-original-title="Eliminar">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
    </a>   
  </td>

  <!-- Modal para el detalle del ciclón tropical -->
  <div class="modal modal-blur fade" id="WeatherTodayModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="WeatherTodayModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">  
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalle Tiempo para Hoy</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <!-- Aquí se cargará el contenido del detalle -->
      </div>
      </div>
    </div>
  </div>

  <script src="{% static '' %}dist/libs/jquery/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // Cuando se haga clic en el botón "Detalle"
      $('a[data-bs-target="#WeatherTodayModal"]').on('click', function() {
        // Obtener la URL del detalle desde el atributo data-url
        var detailUrl = $(this).data('url');
  
        // Cargar el contenido del detalle en el modal
        $('#WeatherTodayModal .modal-body').load(detailUrl, function() {
          // Mostrar el modal
          $('#WeatherTodayModal').modal('show');
        });
      });
    });
  </script>
{% endblock row %}
