{% load form_filters %}
<div class="row">
  <div class="col-lg-4">
    <div class="mb-3">
      <label class="form-label">{{ form.lp.label }}</label>
      {{ form.lp|with_invalid }}
      {% if form.lp.errors %}<div class="invalid-feedback d-block">{{ form.lp.errors.0 }}</div>{% endif %}
    </div>
  </div>
  <div class="col-lg-4">
    <div class="mb-3">
      <label class="form-label">{{ form.nlp.label }}</label>
      {{ form.nlp|with_invalid }}
      {% if form.nlp.errors %}<div class="invalid-feedback d-block">{{ form.nlp.errors.0 }}</div>{% endif %}
    </div>
  </div>
  <div class="col-lg-4">
    {% include 'includes/dashboard/date_field.html' with field=form.nlpd value=form.nlpd.value|fmt_date mode='date' placeholder='dd/mm/aaaa' %}
  </div>
  <div class="col-lg-4">
    {% include 'includes/dashboard/date_field.html' with field=form.sunrise value=form.sunrise.value|to_time_value mode='time' placeholder='06:30' %}
  </div>
  <div class="col-lg-4">
    {% include 'includes/dashboard/date_field.html' with field=form.sunset value=form.sunset.value|to_time_value mode='time' placeholder='19:30' %}
  </div>
  <div class="col-lg-4">
    <div class="mb-3">
      <label class="form-label">{{ form.uv_index.label }}</label>
      {{ form.uv_index|with_invalid }}
      {% if form.uv_index.errors %}<div class="invalid-feedback d-block">{{ form.uv_index.errors.0 }}</div>{% endif %}
    </div>
  </div>
</div>
