{% load form_filters %}
{% if form.instance.pk %}
  <input type="hidden"
         name="{{ form.id.html_name }}"
         value="{{ form.instance.pk }}">
{% endif %}
<div class="mb-3">
  <label class="form-label{% if form.temp.field.required %}
                  required{% endif %}">Temperatura</label>
  {{ form.temp|with_invalid }}
  {% if form.temp.errors %}<div class="invalid-feedback d-block">{{ form.temp.errors.0 }}</div>{% endif %}
</div>
<div class="mb-3">
  <label class="form-label{% if form.weather.field.required %}
                  required{% endif %}">Tiempo</label>
  {{ form.weather|with_invalid }}
  {% if form.weather.errors %}<div class="invalid-feedback d-block">{{ form.weather.errors.0 }}</div>{% endif %}
</div>
<div class="mb-3">
  <label class="form-label{% if form.wind_dir.field.required %}
                  required{% endif %}">Dirección del Viento</label>
  {{ form.wind_dir|with_invalid }}
  {% if form.wind_dir.errors %}<div class="invalid-feedback d-block">{{ form.wind_dir.errors.0 }}</div>{% endif %}
</div>
<div class="mb-3">
  <label class="form-label{% if form.wind_speed.field.required %}
                  required{% endif %}">Velocidad del Viento</label>
  {{ form.wind_speed|with_invalid }}
  {% if form.wind_speed.errors %}<div class="invalid-feedback d-block">{{ form.wind_speed.errors.0 }}</div>{% endif %}
</div>
{% if has_sea %}
  <div class="mb-3">
    <label class="form-label{% if form.sea_note.field.required %}
                   required{% endif %}">Mar</label>
    {{ form.sea_note|with_invalid }}
    {% if form.sea_note.errors %}<div class="invalid-feedback d-block">{{ form.sea_note.errors.0 }}</div>{% endif %}
  </div>
{% endif %}
